<!-- this is the main page and should have the top ten of each style of media -->



<div class="small-12 columns center">
  <h2>Feature</h2>
  <% if @feature %>
    <p>
      <%= link_to @feature.title, media_instance_path(@feature.media_type, @feature.id) %> by <%= @feature.creator %>
    </p>
  <% end %>
</div>

<div class="wrap row small-up-1 medium-up-3 large-up-3 media-types">

  <article class="column column-block">
    <h2>Books</h2>

    <ol>

      <% @books.each do |instance| %>
      <li><%= link_to instance.title, media_instance_path(instance.media_type, instance.id) %>, Votes: <%= instance.votes.count %>
        <% if session[:user].nil? %>
        <p>
          log in to vote
        </p>
        <% else %>
        <%= vote_button(instance, session[:user]['id']) %>
        <% end %>
      </li>
      <% end %>
    </ol>

  </article>

  <article class="column column-block">
    <h2>Movies</h2>
    <ol>
      <% @movies.each do |instance| %>
      <li><%= link_to instance.title, media_instance_path(instance.media_type, instance.id)%>, Votes: <%= instance.votes.count %>
        <% if session[:user].nil? %>
        <p>
          log in to vote
        </p>
        <% else %>
        <%= vote_button(instance, session[:user]['id']) %>
        <% end %>
      </li>
      <% end %>
    </ol>
  </article>

  <article class="column column-block">
    <h2>Music</h2>
    <ol>
      <% @music.each do |instance| %>
      <li><%= link_to instance.title, media_instance_path(instance.media_type, instance.id) %>, Votes: <%= instance.votes.count %>
        <% if session[:user].nil? %>
        <p>
          log in to vote
        </p>
        <% else %>
        <%= vote_button(instance, session[:user]['id']) %>
        <% end %>
      </li>
      <% end %>

    </ol>
  </div>
</article>
