<section class="row spotlight">
<% spotlight = Work.all.sort_by {|work| - work.votes.count}.first %>
<h3><span class="media-spotlight-header">Media Spotlight:</span> <%= link_to spotlight.title, work_path(spotlight.id) %> by <%= "#{spotlight.creator}"%></h3>
<p>
<%= "#{spotlight.votes.count} votes -" %>
</p>
</section>
<hr class="root-hr">

<section class="top-ten columns large-4 small-12">
<h3>Top Movies</h3>
<% movie = Work.where(category: 'movie') %>
<% movie_sort = movie.sort_by {|work| - work.votes.count } %>
<ul>
  <% if movie_sort.count <= 10 %>
    <% movie_sort.each do |work| %>
      <li>
        <%= "#{work.title} by #{work.creator} with #{work.votes.count} votes " %>
      </li>
      <% end %>
  <% else %>
    <% 10.times do |item| %>
        <li>
          <% work = movie_sort.shift %>
          <%= "#{work.title} by #{work.creator} with #{work.votes.count} votes " %>
        </li>
    <% end %>
  <% end %>
</ul>
</section>

<section class="top-ten columns large-4 small-12">
<h3>Top Books</h3>
<% book = Work.where(category: 'book') %>
<% book_sort = book.sort_by {|work| - work.votes.count } %>
<ul>
  <% if book_sort.count <= 10 %>
    <% book_sort.each do |work| %>
      <li>
        <%= "#{work.title} by #{work.creator} with #{work.votes.count} votes " %>
      </li>
      <% end %>
  <% else %>
    <% 10.times do |item| %>
        <li>
          <% work = book_sort.shift %>
          <%= "#{work.title} by #{work.creator} with #{work.votes.count} votes " %>
        </li>
    <% end %>
  <% end %>
</ul>
</section>

<section class="top-ten columns large-4 small-12">
<h3>Top Albums</h3>
<% album = Work.where(category: 'album') %>
<% album_sort = album.sort_by {|work| - work.votes.count } %>
<ul>
  <% if album_sort.count <= 10 %>
    <% album_sort.each do |work| %>
      <li>
        <%= "#{work.title} by #{work.creator} with #{work.votes.count} votes " %>
      </li>
    <% end %>
    <% else %>
    <% 10.times do |item| %>
    <li>
      <% work = album_sort.shift %>
      <%= "#{work.title} by #{work.creator} with #{work.votes.count} votes " %>
        </li>
        <%end%>
  <% end %>
</ul>
</section>
