<!-- this is the main page and should have the top ten of each style of media -->
<atricle class="small-12 medium-12 large-12 columns">
<h2>Feature</h2>
<feature class="small-12 columns center">
<%= @feature.title %> by <%= @feature.creator %>
</feature>
</article>
<article class="small-12 medium-12 large-4 columns">
  <h2>Books</h2>

 <ol>
  <% @books.each do |instance| %>
   <li><%= link_to instance.title, media_instance_path(instance.media_type, instance.id) %>, Votes: <%= instance.votes.count %> <%= vote_button(instance, session[:user_id]) %>
   </li>
    <% end %>
 </ol>

</article>

<article class="small-12 medium-12 large-4 columns">
  <h2>Movies</h2>
  <ol>
   <% @movies.each do |instance| %>
    <li><%= link_to instance.title, media_instance_path(instance.media_type, instance.id)%>, Votes: <%= instance.votes.count %> <%= vote_button(instance, session[:user_id]) %>
    </li>
     <% end %>
  </ol>
</article>

<article class="small-12 medium-12 large-4 columns">
  <h2>Music</h2>
  <ol>
   <% @music.each do |instance| %>
    <li><%= link_to instance.title, media_instance_path(instance.media_type, instance.id) %>, Votes: <%= instance.votes.count %> <%= vote_button(instance, session[:user_id]) %>
    </li>
      <% end %>

  </ol>
</article>
