<section class="row spotlight">
  <div>
    <h3>
      <span class="media-spotlight-header">Media Spotlight:</span>
      <% if @top_work == nil %>
        There are no works currently, please add some!
      <% else %>
        <%= link_to @top_work.title, work_path(@top_work.id) %>
        by <%= @top_work.creator %>
      <% end %>
    </h3>
    <p>
      Total of: <%= @top_work.votes.count %> votes
    </p>
  </div>
</section>
<hr class="root-hr">
<section class="top-ten small-12 large-4 columns">
  <h3>Top Albums</h3>
  <%= render partial: "list", locals: {works: @albums_sorted_by_votes} %>
</section>
<section class="top-ten small-12 large-4 columns">
  <h3>Top Books</h3>
  <%= render partial: "list", locals: {works: @books_sorted_by_votes} %>
</section>
<section class="top-ten small-12 large-4 columns">
  <h3>Top Movies</h3>
  <%= render partial: "list", locals: {works: @movies_sorted_by_votes} %>
</section>
