
<% work = Work.top %>
<h3>
<%= "Media Spotlight: #{work.title} by #{work.creator}" %>
<p> <%= "#{work.votes.count} votes" %> </p>
</h3>


<h3> Top Albums </h3>
  <ol>
    <% Work.top_ten_albums.each do |work| %>
    <li> <%= link_to "#{work.title}", work_path(work.id)%>
      <%= "by #{work.creator} category: #{work.category} Votes: #{work.votes.count}" %> </li>
    <% end %>
  </ol>

<h3> Top Books </h3>
  <ol>
    <% Work.top_ten_books.each do |work| %>
    <li> <%= link_to "#{work.title}", work_path(work.id)%>
      <%= "by #{work.creator} category: #{work.category} Votes: #{work.votes.count}" %> </li>
    <% end %>
  </ol>

<h3> Top Movies </h3>
  <ol>
    <% Work.top_ten_movies.each do |work| %>
    <li> <%= link_to "#{work.title}", work_path(work.id)%>
      <%= "by #{work.creator} category: #{work.category} Votes: #{work.votes.count}" %> </li>
    <% end %>
  </ol>
