<!-- the code for work title, creator and votes could be DRYer. come back later to clean it up -->

<h1>
  Media spotlight: <%= link_to Work.spotlight.title, work_path(Work.spotlight.id) %> by:
  <%= Work.spotlight.creator %>
  <%= Work.spotlight.votes.count %> votes
</h1>

<h2>
  Top Albums
</h2>
<ul>
  <% Work.top_ten("album").each do |album| %>
    <li>
      <%= link_to album.title, work_path(album.id)%> by: <%= Work.spotlight.creator %>
      <%= album.votes.count %> votes
    </li>

  <% end %>

</ul>
