
<main class = "row">
  <section class = "row spotlight">
    <div>
      <% if Work.all %>
      <h3>
        <span class = "media-spotlight-header"> <strong>Media Spotlight:</strong> </span>
        <%= link_to @top.title, work_path(@top.id) %>
        by <%=@top.creator%>
      </h3>
      <p> <%= @top.vote.count %> votes <%=@top.description %> </p>
      <% end %>
    </div>
</section>

<hr class = "root-hr">


<section class = "top-ten columns large-4 small-12">
  <h3>Top Movies</h3>
  <% if Work.all != nil %>
  <ul>
    <% @top_ten_movies.each do |movie|  %>
    <li>
      <h4> <%= link_to movie.title, work_path(movie.id) %> <small>by <%=movie.creator%></small>
    </h4>
    <p><%=movie.vote.count%> votes</p>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>

<section class = "top-ten columns large-4 small-12">
  <h3>Top Albums</h3>
  <% if Work.all != nil %>
  <ul>
    <% @top_ten_music.each do |music|  %>
    <li>
      <h4> <%= link_to music.title, work_path(music.id) %> <small>by <%=music.creator%></small>
    </h4>
    <p><%=music.vote.count%> votes</p>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>

<section class = "top-ten columns large-4 small-12">
  <h3>Top Books</h3>
  <% if Work.all != nil %>
  <ul>

    <% @top_ten_books.each do |book|  %>
    <li>
      <h4> <%= link_to book.title, work_path(book.id) %> <small>by <%=book.creator%></small>
    </h4>
    <p><%=book.vote.count%> votes</p>
    </li>
    <% end %>
  </ul>
  <% end %>

</section>
</main>
