<div>
  <h2><%= @media_instances.first.media_type.capitalize %>s</h2>

  <section>
    <ul>
      <% @media_instances.each do |instance| %>
      <li>
        <%= instance.title %> - <%= instance.votes.count %>
        <%#= link_to "instance.title", media_instances_path(instance.id) %>
      </li>
      <li>
        <%= instance.creator %>
      </li>
      <li>
        <%= form_for [instance, User.find(session[:user_id]), Vote.new] do |f| %>
          <%= f.submit "Upvote", class:'success button' %>
        <% end %>
        <!-- so I'm in the index page.  instance has the variables that I need as well as the logged in user.  How do I grab these two variables and put them in the  vote.create route -->
      </li>
      <% end %>
    </ul>
  </section>
</div>
