<div>
  <h1 ><%= @media_instance.title %> </h1>

  <section>
    <nav>
      <li>
      <%#= link_to "Edit", edit_media_instance_path(@media_instance) %>
    </li>
    <li>
      <%#= link_to "Delete", media_instances_path(@media_instance), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"} %>
    </li>
    </nav>

    <ul>
      <li>
          Title: <%= @media_instance.title %>
      </li>
      <li>
        Media Type: <%= @media_instance.media_type %>
      </li>
      <li>
        Author: <%= @media_instance.creator %>
      </li>
      <li>
          Publication Year:  <%= @media_instance.pub_yr %>
        </li>

        <li>
          Description: <%= @media_instance.description %>
        </li>
      <li>
      Total Votes:
      <%= @media_instance.votes.length %>
      </li>
      <li><%= link_to "Upvote", votes_path %></li>
    </ul>
  </div>
