<%= render partial: 'layouts/header' %>

<h2> Log In </h2>


<%= form_for :sessions, url:login_session_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Log In' %>
<% end %>
