<%= form_for @work do |f| %>
<ul>
  <li>
    <%= f.select :category, ['Album', 'Book',
      'Movie'] %>
    </li>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-field"%>
    </li>
    <li>
      <%= f.label :creator %>
      <%= f.text_field :creator, class: "form-field"%>
    </li>
    <li>
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year, class: "form-field"%>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-field"%>
    </li>

    <li>
      <%= f.submit class: "submit"%>
    </li>

  </ul>
  <% end %>
