<% if @work.errors.any? %>
<h3><%= flash[:error] %></h3>
  <ul class="failure">
    <% @work.errors.each do |column, message| %>
      <li>
        <%= "#{column}: #{message}" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @work do |f| %>
  <%= f.label "Category" %>
  <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name") %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit button_name%>
<% end %>
