</ul>
<% works.each do |work| %>
<body>
  <ul>
    <li>
      Votes
      <p><%= work.votes.count %></p>
    </li>
    <li>
      Title
      <p><%= link_to(work.title, work_path(work.id)) %></p>
    </li>
    <li>
      Created By
      <p><%= work.creator %></p>
    </li>
    <li>
      Published
      <p><%= work.publication_year %></p>
    </li>
    <li>

      <p><%= link_to("Upvote", votes_path(:work => work.id), method: :post )%></p>
    </li>
  </ul>

</body>
<% end %>
