<h2> Edit Work</h2>

<%= form_for @work do |f| %>

<%= f.label :category %>
<%= f.select :category, ['book', 'album', 'movie'] %>
<br>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :creator %>
<%= f.text_field :creator %>
<br>
<%= f.label :publication_year %>
<%= f.text_field :publication_year %>
<br>
<%= f.label :description %>
<%= f.text_area :description %>
<br>
<%= f.submit %>
<% end %>
