<% if @work.errors.any? %>
<ul>
  <% @work.errors.each do |column, message| %>
  <li>
    <%= column %>: <%= message %>
  </li>
  <% end %>
</ul>
<% end %>
<h2>Edit this <%=@work.category%></h2>

<%= form_for @work do |f| %>
  <%= f.label :category %>
  <%= f.select :category, options_from_collection_for_select(Work.all.to_a.uniq{ |o| o.category },"category","category") %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication_year %>
  <%= f.number_field :publication_year %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Update Work" %>
<% end %>
