<section class="spotlight">
  <h1>Media Spotlight: </h1>
  <% top = Work.all[0] %>
  <%= link_to top.title, work_path(top.id)%> by <%= top.creator %>
</section>

<section class="top-ten">
  <h1>Top Movies</h1>
  <ul>
    <% Work.order_by_votes("movie")[0..9].each do |work| %>
      <li><%= link_to work.title, work_path(work.id)%> by <%= work.creator %></li>
    <% end %>
  </ul>

  <h1>Top Books</h1>
  <ul>
    <% Work.order_by_votes("book")[0..9].each do |work| %>
      <li><%= link_to work.title, work_path(work.id)%> by <%= work.creator %></li>
    <% end %>
  </ul>

  <h1>Top Albums</h1>
  <ul>
    <% Work.order_by_votes("album")[0..9].each do |work| %>
      <li><%= link_to work.title, work_path(work.id)%> by <%= work.creator %></li>
    <% end %>
  </ul>

</section>
