<main class="row">

<section class="row spotlight">
  <h3>
  <span class="spotlight-header">Media Spotlight: </span>
  <% top = Work.all[0] %>
  <%= link_to top.title, work_path(top.id)%> by <%= top.creator %>
  <p><%= top.votes.count %> Votes - <%= top.description %></p>
  </h3>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Movies</h3>
  <ul>
    <h4>
      <% Work.order_by_votes("movie")[0..9].each do |work| %>
        <li><%= link_to work.title, work_path(work.id)%> <small>by <%= work.creator %></small></li>
        <li><p><%= work.votes.count %> Votes</p></li>
      <% end %>
    </h4>
  </ul>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Books</h3>
  <ul>
    <h4>
      <% Work.order_by_votes("book")[0..9].each do |work| %>
        <li><%= link_to work.title, work_path(work.id)%> <small>by <%= work.creator %></small></li>
        <li><p><%= work.votes.count %> Votes</p></li>
      <% end %>
    </h4>
  </ul>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Albums</h3>
  <ul>
    <h4>
      <% Work.order_by_votes("album")[0..9].each do |work| %>
        <li><%= link_to work.title, work_path(work.id)%> <small>by <%= work.creator %></small></li>
        <li><p><%= work.votes.count %> Votes</p></li>
      <% end %>
    </h4>
  </ul>
</section>

</section>
</main>
