<main class="row">
<section class="row spotlight">
  <div>
    <h3>
      <span class="media-spotlight-header">Media Spotlight</span>
      <%= link_to @winner.title, work_path(@winner.id), alt: "link to see details of work with most votes" %>
    </h3>
    <p>
      <%= @winner.votes.length %> votes
    </p>
  </div>
</section>

<hr class="root-hr"/>

<section class="top-ten columns large-4 small-12">
  <h3>Top Movies</h3>
  <ul>
    <% @works.top_ten("movie").each do |work| %>
    <li>
      <h4>
      <%= link_to(work.title, work_path(work.id), alt: "link to details for top ten movie") %> <small>by</small> <%= work.creator %>
      </h4>
      <%= work.votes.count %> votes
      <% end %>
    </li>
  </ul>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Books</h3>
  <ul>
    <% @works.top_ten("book").each do |work| %>
    <li>
      <h4>
      <%= link_to(work.title, work_path(work.id), alt: "link to details for top ten movie") %> <small>by</small> <%= work.creator %>
      </h4>
      <%= work.votes.count %> votes
      <% end %>
    </li>
  </ul>
</section>

<section class="top-ten columns large-4 small-12">
  <h3>Top Albums</h3>
  <ul>
    <% @works.top_ten("album").each do |work| %>
    <li>
      <h4>
      <%= link_to(work.title, work_path(work.id), alt: "link to details for top ten movie") %> <small>by</small> <%= work.creator %>
      </h4>
      <%= work.votes.count %> votes
      <% end %>
    </li>
  </ul>
</section>

</main>
