<main>
<section>
  <h3>Media Spotlight: <%= @top_work.title %> by <%= @top_work.creator %>
  </h3>
  <p>
    <%= @top_work.votes %>
  </p>
</section>
<section>
  <article>
    <h3>Top Movies</h3>
    <ul>
      <% @movies.each do |movie| %>
        <li><%= movie.title %> by <%= movie.creator %></li>
        <li><%= movie.votes %> votes</li>
      <% end %>
    </ul>


  </article>
</section>



</main>
