<!-- <h1>Works#home</h1> -->
<% @spotlight.each do |work, votes| %>
  <h2>Media Spotlight: <%= link_to(work.title, work_path(work.id), alt:'Work')%> by <%= work.creator%></h2>
<% end %>


<h3>Top Books</h3>
  <ul>
    <% @top_books.each do |work, votes| %>
    <li>
      <%= link_to(work.title, work_path(work.id), alt:'Book title')%> by <%= work.creator%>
    </li>
    <li>
      Votes: <%= votes %>
    </li>
    <% end %>
  </ul>

<h3>Top Movies</h3>
<ul>
  <% @top_movies.each do |work, votes| %>
  <li>
    <%= link_to(work.title, work_path(work.id), alt:'Movie title')%> by <%= work.creator%>
  </li>
  <li>
    Votes: <%= votes %>
  </li>
  <% end %>
</ul>

<h3>Top Albums</h3>
<ul>
  <% @top_albums.each do |work, votes| %>
  <li>
    <%= link_to(work.title, work_path(work.id), alt:'Album title')%> by <%= work.creator%>
  </li>
  <li>
    Votes: <%= votes %>
  </li>
  <% end %>
</ul>
