<main class="row works-index">
  <h3>List of works</h3>
  <% @works.each do |category, works| %>
    <section class="media-table">
      <h4><%= category.titleize %>s</h4>
      <table>
        <thead>
          <tr>
            <th width="80">Votes</th>
            <th>Title</th>
            <th>Created by</th>
            <th width="100">Published</th>
            <th width="100">Upvote</th>
          </tr>
        </thead>
        <tbody>
          <% works.each do |work| %>
            <tr>
              <td><%= work.votes.length %></td>
              <td><%= link_to work.title, work_path(work.id) %></td>
              <td><%= work.creator %></td>
              <td><%= work.publication_year %></td>
              <% user_id = session[:user_id] || -1 %>
              <td><%= link_to 'Upvote', create_vote_path(user_id: user_id, work_id: work.id), method: :post, class: 'button upvote' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
  <%= link_to 'View top media', homepage_path, class: 'button' %>
  <%= link_to 'Add a new work', create_work_path, class: 'button' %>
</main>
