<header>
<h1>List of works</h1>
</header>

<body>
  <main>
    <h2>Albums</h2>
    <%= render partial: "form", locals: {works: @albums} %>

    <h2>Books</h2>
    <%= render partial: "form", locals: {works: @books} %>

    <h2>Movies</h2>
    <%= render partial: "form", locals: {works: @movies} %>
  </main>
</body>

<footer>
  <h3><%= link_to("View top media", root_path) %></h3>
  <h3><%= link_to("Add a new work", new_work_path) %></h3>
 </footer>
