<section>
<h1>List of Works</h1>

<article>
<h3>Albums</h3>
  <table>
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |w| %>
      <% if w.category == "album" %>
      <tr>
        <td>#</td>
        <td><%= link_to w.title, work_path(w.id) %></td>
        <td><%= w.creator %></td>
        <td><%= w.publication_year %></td>
        <td><%= link_to "Upvote" %></td>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<h3>Books</h3>
  <table>
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |w| %>
      <% if w.category == "book" %>
      <tr>
        <td>#</td>
        <td><%= link_to w.title, work_path(w.id) %></td>
        <td><%= w.creator %></td>
        <td><%= w.publication_year %></td>
        <td><%= link_to "Upvote" %></td>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<h3>Movies</h3>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |w| %>
    <% if w.category == "movie" %>
    <tr>
      <td>#</td>
      <td><%= link_to w.title, work_path(w.id) %></td>
      <td><%= w.creator %></td>
      <td><%= w.publication_year %></td>
      <td><%= link_to "Upvote" %></td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</article>


</section>
