<h1>Welcome to Media Ranker</h1>

<h2>Media Spotlight: Link to Top Vote Getter</h2>
<p>
  Rank by category and then number of votes
</p>


<table>

<tr>
  <th>
    Votes
  </th>
  <th>
    Category
  </th>
  <th>
    Title
  </th>
  <th>
    Creator
  </th>
  <th>
    Publication Year
  </th>
  <th>
    Description
  </th>
  <th>
    VOTE!
  </th>
</tr>
<%# @votes.where(work_id: work.id).count
%>
<%# @votes = Vote.all %>

<% @works.each do |work| %>
<tr>
  <td>
     work.testing(work.id)
  </td>
  <td>
    <%= work.category %>
  </td>
  <td>
    <%= link_to work.title, work %>
  </td>
  <td>
    <%= work.creator %>
  </td>
  <td>
    <%= work.publication_year %>
  </td>
  <td>
    <%= work.description %>
  </td>
  <td>
    VOTES
    <%= form_for Vote.new do |f| %>
    <%= f.hidden_field :work_id, value: 1 %>
    <%= f.submit %>
    <% end %>
  </td>
  <% end %>

    <%# @vote = Vote.new %>
    <%#= form_for @vote url {action: create}

    <%# orm_for (:thing, url:{:controller=>'thing', :action=>'update'}, html:{method:'put'}). %>
    <%#{}= form_for(:vote, url:  {:controller => votes, action: create} do |f| %>
    <%#= form_tag("/upvote", method: :post) do %>
    <%#= text_field :user_id, work.id %>
    <%#= submit_tag "Vote" %>



    <%#= link_to "Vote", new_work_vote_path(work.id) %>

</tr>


</table>
