<h2>Works</h2>

<ul>
  <% @works.each do |work| %>
    <% if work.title%>
      <li><%= work.title %></li>
    <% end %>
    <% if work.creator%>
      <li><%= work.creator %></li>
    <% end %>
    <% if work.category%>
      <li><%= work.category %></li>
    <% end %>
    <% if work.publication_year%>
      <li><%= work.publication_year %></li>
    <% end %>
    <% if work.description%>
      <li><%= work.description %></li>
    <% end %>
    <hr>
  <% end %>
</ul>
