<h3>List of Works</h3>

<section>

  <h4>Albums</h4>
  <table>
    <thead>
      <tr>
        <th>Vote </th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |work| %>
      <%  if work.category == "album" %>
          <tr>
                <!-- # TODO need to make this actual number of votes - probably in model method?? -->
          <td><%= 0 %> </td>
          <td><%= link_to(work.title, work_path(work.id), alt: "link to work show page") %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= link_to("Upvote", work_votes_path(work.id), method: :post, alt: "link to upvote this work")%></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </section>

  <section>

    <h4>Books</h4>
    <table>
      <thead>
        <tr>
          <th>Vote </th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% @works.each do |work| %>
        <%  if work.category == "book" %>
            <tr>
              <!-- # TODO need to make this actual number of votes - probably in model method?? -->
            <td><%= 0 %> </td>
            <td><%= link_to(work.title, work_path(work.id), alt: "link to work show page") %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to("Upvote", work_votes_path(work.id), method: :post, alt: "link to upvote this work")%></td>
          </tr>
          <% end %>
          <% end %>
      </tbody>
    </table>
  </section>

  <section>

    <h4>Movies</h4>

    <table>
      <thead>
        <tr>
          <th>Vote </th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% @works.each do |work| %>
        <%  if work.category == "movie" %>
            <tr>
                  <!-- # TODO need to make this actual number of votes - probably in model method?? -->
            <td><%= 0 %> </td>
            <td><%= link_to(work.title, work_path(work.id), alt: "link to work show page") %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to("Upvote", work_votes_path(work.id), method: :post, alt: "link to upvote this work")%></td>
          </tr>
          <% end %>
          <% end %>
      </tbody>
    </table>
    <%= button_to("View top media", root_path, method: :get, alt: "link to home page") %>

    <%= button_to("Add a new work", new_work_path, method: :get, alt: "link to create new work") %>
  </section>
