<h1>Welcome to Media Ranker</h1>

<table>

<tr>
  <th>
    Votes
  </th>
  <th>
    Category
  </th>
  <th>
    Title
  </th>
  <th>
    Creator
  </th>
  <th>
    Publication Year
  </th>
  <th>
    Description
  </th>
</tr>

<% @works.each do |work| %>
<tr>
  <td>
    Votes Will Go Here
  </td>
  <td>
    <%= work.category %>
  </td>
  <td>
    <%= link_to work.title, work %>
  </td>
  <td>
    <%= work.creator %>
  </td>
  <td>
    <%= work.publication_year %>
  </td>
  <td>
    <%= work.description %>
  </td>
  <td>
    UpVote Button will Go Here
  </td>
</tr>
<% end %>

</table>
