<h1>Works index view</h1>
<h2>List of works</h2>
<h3>albums</h3>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td>upvote link here</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Books</h3>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td>upvote link here</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Movies</h3>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td>upvote link here</td>
      </tr>
    <% end %>
  </tbody>
</table>
