<h2>List of works</h2>

<% category_rename = { "album" => "Albums", "book" => "Books", "movie" => "Movies" }  %>

<% works_by_category = @works.group_by { |w| w.category } %>
<% works_by_category.each do |category, works|%>
<section>
  <h3><%= category_rename[category] %></h3>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
    <% works.each do |work| %>
      <tr>
        <td><%= "Votes" %></td>
        <td><%= work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= "Upvote" %></td>
      </tr>
    <% end %>
  </table>
</section>
<% end %>

<p>View top media</p>
<p>Add a new record</p>
