<h3>List of works</h3>
<%= render partial: "categories", locals: { model: @albums}%>
<%= render partial: "categories", locals: { model: @books}%>
<%= render partial: "categories", locals: { model: @movies}%>

<%= link_to "View top media", root_path, class: "button"%>
<%= link_to "Add a new work", new_work_path, class: "button"%>
