


<main class='row'>
  <h3> List of works </h3>

  <section>
    <%= render partial: 'top_10', locals:  {category: 'Albums', works: @albums} %>
  </section>

  <section>
      <%= render partial: 'top_10', locals:  {category: 'Movies', works: @movies} %>
  </section>

  <section>
      <%= render partial: 'top_10', locals:  {category: 'Books', works: @books} %>
  </section>

  <%= link_to 'View top media', root_path, :class => 'button' %>
  <%= link_to 'Add a new work', new_work_path, :class => 'button'%>
</main>
