<h2>List of works</h2>
<% @works.each do |category, works| %>
  <h3><%= category.titleize %>s</h3>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created by</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
    <% works.each do |work| %>
      <tr>
        <td><%= work.votes.length %></td>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <% user_id = session[:user_id] || -1 %>
        <td><%= link_to 'Upvote', create_vote_path(user_id: user_id, work_id: work.id), method: :post%></td>
      </tr>
    <% end %>
  </table>
<% end %>
