<h2>List of Works</h2>

<nav>
  <ul>
    <li><%= link_to "View Top Media", root_path %></li>
    <li><%= link_to "View All Media", works_path %></li>
    <li><%= link_to "Add a new work", new_work_path %></li>
  </ul>
</nav>

<h3> Albums </h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
    </tr>
  </thead>
      <% @works.each do |work| %>
        <% if work.category == "album" %>
  <tbody>
    <tr>
      <td><%= link_to work.title, work_path(work.id) %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>


<h3> Movies </h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
    </tr>
  </thead>
      <% @works.each do |work| %>
        <% if work.category == "movie" %>
  <tbody>
      <tr>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<h3> Books </h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
    </tr>
  </thead>
      <% @works.each do |work| %>
        <% if work.category == "book" %>
  <tbody>
      <tr>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
