<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>


<table>

  <thead>
    <tr>
      <th>
        Votes
      </th>
      <th>
        Title
      </th>
      <th>
        Created By
      </th>
      <th>
        Published
      </th>
      <th>
        Upvote
      </th>
    </tr>
  </thead>

  <tbody>

    <% @works.each do |work| %>
    <tr>
      <td>
        <%= work.votes.count %>
      </td>
      <td>
        <%=link_to work.title, work_path(work) %>
      </td>
      <td>
        <%=work.creator%>
      </td>
      <td>
        <%=work.year%>
      </td>
      <td>
        <%= link_to "Upvote" %>
      </td>
    </tr>
    <%end%>

  </tbody>
</table>
