<h1>List of works</h1>

<% @media.each do |type, works_list| %>
  <section class="<%=type%>">
    <h1><%=type.capitalize%></h1>
    <table>
      <tr>
        <th>
          Votes
        </th>
        <th>
          Title
        </th>
        <th>
          Created By
        </th>
        <th>
          Published
        </th>
        <th>
          Upvote
        </th>
      </tr>
      <% works_list.each do |work| %>
      <tr>
        <td>
          <%= work.num_votes %>
        </td>
        <td>
          <%= link_to work.title, work_path(work.id) %>
        </td>
        <td>
          <%= work.creator %>
        </td>
        <td>
          <%= work.publication_year %>
        </td>
        <td>
          link
        </td>
      </tr>
      <% end %>
    </table>
  </section>

<% end %>
