# Want to DRY up code and will think about it later.
<h1>Albums</h1>
<table>
  <th>Title</th>
  <th>Creator</th>
  <th>Publication Year</th>

  <% @works.each do |work| %>
    <% if work.category == "album" %>
      <tr>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h1>Books</h1>

<table>
  <th>Title</th>
  <th>Creator</th>
  <th>Publication Year</th>


  <% @works.each do |work| %>
    <% if work.category == "book" %>
      <tr>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h1>Movies</h1>

<table>
  <th>Title</th>
  <th>Creator</th>
  <th>Publication Year</th>


  <% @works.each do |work| %>
    <% if work.category == "movie" %>
      <tr>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "View top media", root_path, class: "button"%>
<%= link_to "Add a new work", new_work_path, class: "button"%>
