<header>
  <nav>
    <h2>
      Media Ranker
    </h2>

    <small>
      Ranking the Best of Everything
    </small>
  </nav>

  <nav>
    <a href='/'>View top media </a>
    <a href='/works'>View all media </a>
    <a href='/works/new'>Add a new work </a>
    <a href='/users'>View all users </a>
  </nav>

  <div>
    <a href='/login'> Log In </a>
  </div>
</header>

<section>
    <h3>
      Place holder for top media
    </h3>
</section>

<section>
  <h3>
    Top Albums
  </h3>

  <ul>
    <% @albums.each do |album| %>
      <li>
        <%= link_to "#{album.title}",  album_path(album)%>
        <small> by <%= album.creator%> </small>
      </li>
    <%end%>
  </ul>
</section>

<section>
  <h3>
    Top Movies
  </h3>

  <ul>
    <% @movies.each do |movie| %>
      <li>
        <%= link_to "#{movie.title}",  movie_path(movie)%>
        <small> by <%= movie.creator%> </small>
      </li>
    <%end%>
  </ul>
</section>

<section>
  <h3>
    Top Books
  </h3>

  <ul>
    <% @books.each do |book| %>
      <li>
        <%= link_to "#{book.title}",  book_path(book)%>
        <small> by <%= book.creator%> </small>
      </li>
    <%end%>
  </ul>
</section>
