<h1>List of works</h1>

<h3>Albums</h3>
<% if @albums.count == 0 %>
  <p>Nothing to show yet!</p>
<% else %>
  <table>
    <tr>
      <th scope="columns">Votes</th>
      <th scope="columns">Title</th>
      <th scope="columns">Created By</th>
      <th scope="columns">Published</th>
      <th scope="columns">Upvote</th>
    </tr>
    <%  @albums.each do |album| %>
      <tr>
        <td><%= album.number_of_vote %></td>
        <td><%= link_to(album.title, work_path(album.id)) %></td>
        <td><%= album.creator %></td>
        <td><%= album.publication_year %></td>
        <td><%= button_to("Upvote", votes_path(:pass_work_id => album.id), method: :post) %></td>
      </tr>
    <%  end %>
  </table>
<% end %>

<h3>Books</h3>

<h3>Movies</h3>
