<h1>Works</h1>

<%# render partial: 'layouts/_error_messages.html.erb' %>
<ul>

  <% Work::CATEGORIES.each do |category| %>

  <h2> <%= category.capitalize %> </h2>

  <% Work.where(category: category).each do |work| %>
  <li>
    Title: <%= link_to work.title, work_path(work.id) %>
    Created by: <%=work.creator %>
    Published: <%=work.year%>
  <%= form_for Vote.new(work_id: work.id) do |f| %>
    <%= f.hidden_field :work_id %>
    <%= f.submit "Upvote" %>
  <% end %>

  </li>

  <% end %>
<% end %>

</ul>
