<% if flash[:error].present? %>
  <p class='flash-error'><%= flash[:error] %></p>
<% end %>
<% if flash[:notice].present? %>
  <p class='flash-notice'><%= flash[:notice] %></p>
<% end %>

<h2>List of works</h2>

<% category_rename = { "album" => "Albums", "book" => "Books", "movie" => "Movies" }  %>

<% works_by_category = @works.group_by { |w| w.category } %>
<% works_by_category.each do |category, works|%>
<section>
  <h3><%= category_rename[category] %></h3>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
    <% works.each do |work| %>
      <tr>
        <td><%= "Votes" %></td>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= "Upvote" %></td>
      </tr>
    <% end %>
  </table>
</section>
<% end %>

<p>View top media</p>
<p><%= link_to "Add a new record", new_work_path %></p>
