<h1>List of Works</h1>

<h3>Albums</h3>
  <% @works.each do |w| %>
    <% if w.category == "album" %>
    <p><%= w.title %>, category: <%= w.category %></p>
    <% end %>
  <% end %>

<h3>Books</h3>
  <% @works.each do |w| %>
    <% if w.category == "book" %>
    <p><%= w.title %>, category: <%= w.category %></p>
    <% end %>
  <% end %>

<h3>Movies</h3>
  <% @works.each do |w| %>
    <% if w.category == "movie" %>
    <p><%= w.title %>, category: <%= w.category %></p>
    <% end %>
  <% end %>
