

<h2>Create new work</h2>

<div>
  <%= form_for @work do |f| %>
      <%= f.label :category %>
      <%= f.select :category, [['album', 'album'], ['book', 'book'], ['movie', 'movie']] %>
      <br />
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br />
      <%= f.label :creator %>
      <%= f.text_field :creator %>
      <br />
      <%= f.label :published %>
      <%= f.text_field :published %>
      <br />
      <%= f.label :description %>
      <%= f.text_area :description %>
      <br />

      <%= f.submit :class => 'button'%>

  <% end %>
</div>
