<h1>Works#new</h1>
<p>Find me in app/views/works/new.html.erb</p>

<%= form_for @work do |f| %>
  <%=f.label :title%>
  <%=f.text_field :title%>

  <%=f.label :description%>
  <%=f.text_field :description%>

  <%=f.label :category%>
  <%=f.select :category, ["book", "movie", "music"]%>

  <%=f.submit%>
  <%end%>
