<header>
  <nav>
    <h2>
      Media Ranker
    </h2>

    <small>
      Ranking the Best of Everything
    </small>
  </nav>

  <nav>
    <a href='/'>View top media </a>
    <a href='/works'>View all media </a>
    <a href='/works/new'>Add a new work </a>
    <a href='/users'>View all users </a>
  </nav>

  <div>
    <a href='/login'> Log In </a>
  </div>
</header>

<h2>Create new work</h2>

<div>
  <p>
    <%= form_for @task do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br />
      <%= f.label :description %>
      <%= f.text_field :description %>
      <br />
      <%= f.label :due_date %>
      <%= f.date_field :due_date %>
      <br />
      <%= f.submit "Make a new task"%>
    <% end %>



</div>
