<header>
  <nav>
    <h2>
      Media Ranker
    </h2>

    <small>
      Ranking the Best of Everything
    </small>
  </nav>

  <nav>
    <a href='/'>View top media </a>
    <a href='/works'>View all media </a>
    <a href='/works/new'>Add a new work </a>
    <a href='/users'>View all users </a>
  </nav>

  <div>
    <a href='/login'> Log In </a>
  </div>
</header>

<h2>Create new work</h2>

<div>
  <%= form_for @work do |f| %>
      <%= f.label :category %>
      <%= f.select :category, [['album', 'album'], ['book', 'book'], ['movie', 'movie']] %>
      <br />
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br />
      <%= f.label :creator %>
      <%= f.text_field :creator %>
      <br />
      <%= f.label :published %>
      <%= f.text_field :published %>
      <br />
      <%= f.label :description %>
      <%= f.text_area :description %>
      <br />

      <%= f.submit %>

  <% end %>
</div>
