<h1><%= @work.title %></h1>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<%= button_to("Back to media ranks", works_path, method: :get) %>
<%= button_to("Edit", edit_work_path(@work.id), method: :get) %>
<%= button_to("Upvote", votes_path(:pass_work_id => @work.id), method: :post) %>
<%= button_to("Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"}) %>

<h1>X Votes for this movie </h1>
<%= @work.votes %>
<p> Vote table </p>
