<h1>work#show</h1>
<main class="row">
  <article class="media-details columns large-g small-12">
    <h3><%=@work.title%></h3>
    <p>Created by: <%=@work.creator%></p>
    <p>Published: <%=@work.publication_year%></p>
    <p>Description: <%=@work.description%></p>
  </article>
  <article class="voting-users columns large-6 small-12">
    <h3>Votes for this <%=@work.category.capitalize%></h3>
    <table>
      <thead>
        <th>User</th>
        <th>Date</th>
      </thead>
      <tbody>

      </tbody>
    </table>
  </article>
</main>

<%= link_to "Delete", work_path(@work.id), method: :delete, :data => {:confirm => 'Are you sure?'} %>
<%= link_to "Edit", edit_work_path(@work.id) %>
<%= link_to "Back to media ranks", root_path %>
