<h1>Works#show</h1>
<p>Find me in app/views/works/show.html.erb</p>

<!-- <%= params %> -->

<ul>
  <li><h3><%= @work.title %></h3></li>
  <li>Category: <%= @work.category %></li>
  <li>Creator: <%= @work.creator %></li>
  <li>Publication Year: <%= @work.publication_year %></li>
  <li>Description: <%= @work.description %></li>
</ul>


<ul>
  <li><%= link_to("Edit work", edit_work_path, alt: "Edit work form")%></li>
    <%# button_to("Edit work", edit_work_path, method: :get) %>
  <li><%= link_to "Delete", work_path(@work[:id]), method: :delete %></li>
    <%# button_to("Delete work", work_path, method: :delete) %>
  <li><%= link_to("Back To Media Ranks", home_index_path, alt: "View Top Media")%></li>
    <%# button_to("View Top Media", home_index_path, method: :get) %>


<!-- NOT SURE IF THIS IS WORKING -->
  <li><%= link_to("Up Vote", work_votes_path(@work.id), method: :post) %></li>
    <%# button_to("View Top Media", home_index_path, method: :get) %>


</ul>

<%= params %>



<!-- LOOP FOR VOTES GOES IN THIS TABLE -->
<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table> -->
