<h2><%=@work.title%></h2>
<ul>
  <!-- <li>
    <strong>Work ID: </strong> <%=@work.id%>
  </li> -->
  <li>
    <strong>Created by: </strong><%=@work.creator%>
  </li>
  <li>
    <strong>Publication Year: </strong><%=@work.pub_year%>
  </li>
  <li>
    <strong>Description: </strong><%=@work.description%>
  </li>

</ul>

<h2><%=@work.total_votes(@work.id)%> votes for this <%=@work.category%></h2>
<table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td></td>
            <td> </td>
          </tr>
      </tbody>
    </table>


<ul>
  <li>
    <%=link_to("Back to media ranks", home_path, alt:'Ranked media page') %>
  </li>
  <li>
    <%=link_to("Edit", edit_work_path(@work.id), alt:'Edit Work Details')%>
  </li>
  <li>
    Upvote
  </li>
  <li>
    <%= link_to("Delete", delete_work_path(@work.id), method: :delete, data: {confirm: "Are you sure you would like to delete this work?"}) %>
  </li>
</ul>
