<h1><%= @work.title %></h1>

<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>

<!-- waiting for working root path -->
<%= link_to "Back to media ranks", home_path %>
<%= link_to "Edit" %>
<%= link_to "Upvote" %>
<%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"} %>
