<div class="row">
  <section class="small-12 large-6 columns">
    <h2 class="small-12 columns"><%= @work.title %></h2>
    <% if @work.creator %>
    <p>
      Created By:
      <%= @work.creator %>
    </p>
    <% end %>
    <% if @work.publication_year %>
    <p>
      Published:
      <%= @work.publication_year %>
    </p>
    <% end %>
    <% if @work.description %>
    <p>
      <%= @work.description %>
    </p>
    <% end %>
    <nav>
      <%= link_to "Back to media ranks", works_path, class: 'button' %>
      <%= link_to "Edit", edit_work_path(@work.id), class: 'button' %>
      <%= link_to "Upvote", upvote_path(@work.id), class: 'button' %>
      <%= link_to "Delete", work_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'button delete' %>
    </nav>
  </section>
  <section class="small-12 large-6 columns">
    <h2><%= @work.users.count %> Vote<%= 's' unless @work.users.count == 1 %> for this <%= @work.category.capitalize %></h2>
    <table>
      <thead>
        <tr>
          <th>
            User
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <% @work.votes.each do |vote| %>
        <tr>
          <td>
            <%= link_to vote.user.name, user_path(vote.user.id) %>
          </td>
          <td>
            <%= vote.created_at.strftime('%B %d, %Y') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
