<main class="row">
  <section class="details columns large-6 small-12">
    <h3><%= @work.title %></h3>
      <p>Created by: <%= @work.creator %></p>
      <p>Published: <%= @work.publication_year %></p>
      <p>Description: <%= @work.description %></p>

      <li class="button"><%= link_to "Back to Media Ranks", root_path, alt: "Link to top works" %></li>
      <li class="button"><%= link_to "Edit", edit_work_path(@work.id), alt: "Link to edit this work" %></li>
      <li class="button"><%= link_to "Upvote", work_votes_path(@work.id), method: :post, alt: "Link to Upvote this Work" %></li>
      <li class="button delete"><%= link_to "Delete", work_path(@work.id), method: :delete, alt: "Link to delete this work"%></li>
  </section>

  <section class="votes columns large-6 small-12">
    <h3><%= @work.votes.count %> Votes for this <%= @work.category %></h3>
    <table>
      <thead>
        <th>User</th>
        <th>Date</th>
      </thead>
      <% @work.votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.user.username, user_path(vote.user.id), alt: "Link to user"%></td>
        <td><%= vote.created_at.strftime("%b %d, %Y") %> </td>
      </tr>
      <% end %>
    </table>
  </section>
</main>
