<%= render partial: 'layouts/header' %>

<article>
  <h3>
    <%= @work.title %>
  </h3>

  <p>
    Created by <%= @work.creator %>
  </p>

  <p>
    Published: <%= @work.published %>
  </p>

  <p>
    <%= @work.description %>
  </p>
</article>

<section>
  <h3>
    <%= @votes.count %> Votes for this work
  </h3>

  <table>

      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>

    <tbody>
      <% @votes.each do |vote| %>
       <tr>
         <td><%= find_user(vote.user_id)%> </td>
         <td><%= vote.date %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</section>



<nav>
  <%= link_to 'Back to media ranks', works_path %>
  <%= link_to 'Edit', edit_work_path %>
  <%= link_to 'Upvote', upvote_work_path(@work), method: :post %>
  <%= link_to 'Delete', work_path(@work), method: :delete, data: { confirm: "Are you sure?" } %>
</nav>
