<article>
  <h3><%= @work.title %></h3>
  <p>
    Created by: <%=@work.creator %>
  </p>
  <p>
    Published: <%=@work.publication_year%>
  </p>
  <p>
    <%= @work.description %>
  </p>
  <section>
    <%= link_to "Back to Media Ranks", root_path %>
    <%= link_to "Edit", edit_work_path(@work.id) %>
    <%= link_to "Upvote", upvote_path(@work.id), method: :post %>
    <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </section>
</article>
<article>
  <h3><%=@work.upvotes.count%> Votes for this <%=@work.category%></h3>
  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <% @work.upvotes.each do |work| %>
    <tr>
      <td><%= link_to User.find(work.user_id).name, user_path(work.user_id) %></td>
      <td><%=work.created_at%></td>
    </tr>
    <% end %>
  </table>
</article>
