<h3><%= @work.title %></h3>

<nav>
  <ul>
    <li>
      <%= link_to "Back to media ranks", root_path %>
    </li>
    <li>
      <%= link_to "Edit", edit_work_path(@work.id) %>
    </li>
    <li>
      <%= link_to "Delete", work_path(@work.id), method: :delete %>
    </li>
  </ul>
</nav>

<section>
  <p>
    <strong>Created by: </strong>
    <%= @work.creator %>
  </p>

  <p>
    <strong>Published: </strong>
    <%= @work.publication_year %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= @work.description %>
  </p>
</section>
