<h2>Works details page</h2>

<strong><%= @work.title %></strong>

<ul>
  <li><%= "Created by: #{@work.creator}" %></li>
  <li><%= "Published: #{@work.publication_year}" %>
    <li>
      <%= "Category is #{@work.category}" %>
    </li>
</li>
</ul>

<p>
  <%= "Description: #{@work.description}" %>
</p>

<%= link_to "Back to media ranks", '/', method: :get %>
<%= button_to "Edit", edit_work_path(@work.id), method: :get %>

<p>upvote button</p>
<%= link_to "Upvote", work_upvote_path(@work.id), method: :post %>
<%= button_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure you would like to delete this entry?" } %>

<div> Table
  <p>
    number of votes for this work.category
  </p>
  <p>
    lists user and date
  </p>
</div>
