<section class="details">
  <h1><%= @work.title %></h1>
  <ul>
    <li>Created by: <%= @work.creator %></li>
    <li>Published: <%= @work.publication_year %></li>
    <li>Description: <%= @work.description %></li>
  </ul>

  <ul>
    <li><%= link_to "Back to Media Ranks", root_path %></li>
    <li><%= link_to "Edit", edit_work_path(@work.id) %></li>
    <li><%= link_to "Upvote", work_votes_path(@work.id), method: :post, alt: "Link to Upvote this Work" %></li>
    <li><%= link_to "Delete", work_path(@work.id), method: :delete %></li>
  </ul>
</section>

<section class="votes">
  <h1><%= @work.votes.count %> Votes for this <%= @work.category %></h1>
  <table>
  <tr>
  <th>User</th>
  <th>Date</th>
  </tr>
  <% @work.votes.each do |vote| %>
  <tr>
  <td><%= link_to vote.user.username, user_path(vote.user.id) %></td>
  <td><%= vote.created_at %> </td>
  </tr>
  <% end %>
  </table>
</section>
