<main class = "row">

<article class="media-details columns large-6 small-12">
  <h3> <%= @work.title %> </h3>
  <p>Created By: <%=@work.creator %> </p>
  <p>Published: <%=@work.pub_year %> </p>
  <p> <%=@work.description %> </p>
</article>

<section class="buttons">
        <%= link_to "Edit", edit_work_path(@work.id), class: "button"%>
        <%= link_to "Upvote!", work_vote_path(params[:id]), class: "button"%>
        <%= link_to "Back to Media Ranks", root_path, class: "button" %>
        <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure you want to delete #{@work.title} from the database? You can not undo this action."}, class: "alert button"%>
  </section>

<div class="voting">
   <h3> <%=@work.vote.count %>Votes for this <%= @work.category %> </h3>
  <table>
    <thead>

    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
    <tr>
        <%votes = Vote.where(work_id: @work.id)%>
        <% votes.each do |vote| %>
      <th>
        <%= link_to User.find(vote.user_id).name, user_path(vote.user_id) %>
      </th>
      <th>
        <%= vote.created_at.strftime("%b %d, %Y")%>
      </th>

      </tr>
      <%end%>

  </table>
</div>
</main>
