<h2><%= @work.title %></h2>

<ul>
  <% if @work.creator %>
    <li>
      <p>
        Created By:
        <strong><%= @work.creator %></strong>
      </p>
    </li>
  <% end %>
  <% if @work.publication_year %>
    <li>
      <p>
        Published:
        <strong><%= @work.publication_year %></strong>
      </p>
    </li>
  <% end %>
  <% if @work.description %>
    <li>
      <p>
        <%= @work.description %>
      </p>
    </li>
  <% end %>
</ul>

<nav>
  <ul>
    <li>
      <%= link_to "Back to media ranks", works_path %>
    </li>
    <li>
      <%= link_to "Edit", edit_work_path(@work.id) %>
    </li>
    <li>
      <%= link_to "Upvote", upvote_path(@work.id) %>
    </li>
    <li>
      <%= link_to "Delete", work_path, method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  </ul>
</nav>
