<main>

<article>
  <h3><%= @work.title %></h3>
  <p><%= @work.creator %></p>
  <p><%= @work.publication_year %></p>
  <p><%= @work.description %></p>

</article>
<article>
  <a><%= link_to("Back to media ranks", root_path, alt: "link to media ranker home page") %></a>
  <a><%= link_to("Edit", edit_work_path(@work.id), alt: "link to edit work") %></a>
  <a><%= link_to("Upvote", root_path, alt: "link to upvote this work") %></a>
  <a><%= link_to("Delete", root_path, alt: "link to delete this work") %></a>


</article>
  <h3><%= "NUMBER OF VOTES Votes for this #{@work.category.capitalize}"%></h3>
  <table>
    <thead>
      <tr>
          <!-- # TODO Need to fill in this table onc e have user data  -->
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- # TODO Need to make this link to User Summary -->
        <td><a></a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</main>
