<h1> <%= @work.title  %></h1>

<p> Created by: <%= @work.creator %> </p>
<p> Published: <%= @work.year %> </p>
<p> Votes: <%= @work.votes.count %> </p>
<p> <%= @work.description %> </p>

<%= link_to( "Edit", edit_work_path(@work.id)) %>
