<%= render partial: "flash_message" %>

<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>

<p>Back to media ranks</p>
<p><%= link_to "Edit", edit_work_path %></p>
<p>Upvote</p>
<p><%= link_to "Delete", work_path(@work.id), method: :delete %></p>

<h2>Votes for this
  <%= @work.category.capitalize %></h2>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>vote</td>
    <td>vote_date</td>
  </tr>
</table>
