<!-- @work.title is broken here -->
<h2> <%= @work.title %> details </h2>

<%= link_to "Edit Work", edit_work_path %>
<% if @work.title%>
  <li>Title : <%= @work.title %></li>
<% end %>
<% if @work.creator%>
  <li>Creator : <%= @work.creator %></li>
<% end %>
<% if @work.category%>
  <li>Category : <%= @work.category %></li>
<% end %>
<% if @work.publication_year%>
  <li> Publication year : <%= @work.publication_year %></li>
<% end %>
<% if @work.description%>
  <li>Description : <%= @work.description %></li>
<% end %>
