<article class="media-details columns large-6 small-12">
  <h3><%=@work.title %></h3>
  <p>
    Created by: <%=@work.creator %>
  </p>
  <p>
    Published <%=@work.publication_year %>
  </p>
  <p>
    <%=@work.description %>
  </p>
  <p>
    Added by: <%=link_to(@work.user.name, user_path(@work.user.id)) %>
  </p>
  <section>
    <%=link_to 'Back to media ranks', root_path, class: "button" %>
    <%= link_to 'Edit', edit_work_path(@work.id), class: "button" %>
    <%= link_to 'Upvote', upvote_path(@work.id), method: :post, class: "button"%>
    <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}, class: "alert button" %>
  </section>
</article>
<article class="voting-users columns large-6 small-12">
<h3><%= @work.votes.length %> Votes for this <%=@work.category.capitalize%></h3>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Date
    </th>
  </tr>
  <% @work.votes.each do |vote| %>
  <tr>
    <td>
      <%= link_to(vote.user.name, user_path(vote.user.id)) %>
    </td>
    <td>
      <%= date_format(vote.created_at) %>
    </td>
  </tr>
  <% end %>
</table>
</article>
