    <h1>
    <%= @work.title %>
    <%= link_to "Edit", edit_work_path(@work.id) %>
    <%= link_to "Delete", work_path(@work.id), method: :delete,  data: {confirm: "Are you sure?"}  %>

  </h1>
  <table>
      <tr>
        <th>Title</th>
        <th>By</th>
        <th>Description</th>
        <th>Released</th>
        <th>Votes</th>
      </tr>
      <tr>
        <td> <%=@work.title%> </td>
        <td> <%=@work.creator%> </td>
        <td> <%=@work.description%> </td>
        <td> <%=@work.publication_year%> </td>
        <td>Votes</td>
      </tr>
  </table>

<%= link_to "Back to Media Ranks", root_path %>
