<h1>works#show</h1>
<p>Find me in app/views/@works/show.html.erb</p>


<p>Title: <%= @work.title %></p>
<p>Category: <%= @work.category %></p>
<p>Creator: <%= @work.creator %></p>
<p>Publication Year: <%= @work.publication_year %></p>
<p>Description: <%= @work.description %></p>
<%= link_to("Edit", edit_work_path(@work.id)) %>
<%= link_to("Delete", work_path(@work.id), method: :delete) %>
