<section>
  <h1><%= @work.title %></h1>

  <p>Created By: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p>Description: <%= @work.description %></p>
  
  <%= link_to("Back to media ranks", root_path) %>
  <%= link_to("Edit", edit_work_path(@work.id)) %>
  <%= link_to("Upvote") %>
  <%= link_to("Delete", work_path(@work.id), method: :delete) %>
</section>

<section>
  <h2><%= @work.votes.length %> Votes for this <%= @work.category.capitalize %></h2>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @work.votes.each do |vote| %>
      <tr><!-- For each vote a user has  -->
        <td><%= link_to(vote.user.username, user_path(vote.user.id)) %></td>
        <td><%= vote.created_at.strftime("%b %d, %Y") %></td>
      </tr><!-- End loop  -->
      <% end %>
    </tbody>
  </table>
</section>
