
<h3> <%= @work.title %> </h3>
<p>
  Created by: <%=@work.creator%>
</p>
<p>
  Published: <%=@work.year%>
</p>
<p>
  <%=@work.description%>
</p>

<section>
  <%= link_to "Back to media ranks" %> <%#links to top 10 list%>
  <%= link_to "Edit", edit_work_path(@work.id) %>
  <%= link_to "Upvote" %> <%#creates a new vote%>
  <%= link_to "Delete", work_path(@work.id), method: :delete %>
</section>
