<h1> Individual Work detail </h1>

<p>
  <strong><%= @work.title %></strong>
</p>

<p>Created by: <%= @work.creator %> </p>
<p>Published: <%= @work.publication_year %> </p>
<p><%= @work.description %> </p>

<%= link_to "Back to media ranks", root_path %>
<%= link_to "Edit", edit_work_path(@work) %>
<%= link_to 'Upvote', create_vote_path(user_id: session[:user_id], work_id: @work.id), method: :post %>

<%= link_to 'Delete',
work_path(@work),
method: :delete,
data: { confirm: 'Are you sure?' } %>

<%= "#{@work.votes.count} Votes for this work" %>
