<h2>This is the show page</h2>

<div class="work-info">
  <h2> <%= @work.title %> </h2>
  <p>Created By: <%=@work.creator %> </p>
  <p>Published: <%=@work.pub_year %> </p>
  <p> <%=@work.description %> </p>
</div>


<div class="buttons">
    <ul>
      <li>
        <%= link_to "Edit", edit_work_path(@work.id), class: "button"%>
      </li>
      <li>
        <%= link_to "Upvote!", work_vote_path(params[:id]), class: "button"%>
      </li>
      <li>
        <%= link_to "Back to Media Ranks", root_path, class: "button" %>
      </li>
      <li>
        <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure you want to delete #{@work.title} from the database? You can not undo this action."}, class: "button"%>
      </li>
    </ul>
  </div>

<div class="voting">
   Votes for this <%= @work.category %>
  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <tr>
        <%votes = Vote.all%>
        <% votes.where(id: @work.id).each do |vote| %>
      <th>
        <%= User.find(vote.user_id).name %>
      </th>
      <th>
        <%= vote.created_at%>
      </th>

      </tr>
      <%end%>

  </table>
</div>
