
<article class="media-details small-12 large-6 columns">
  <h3><%= @work.title %></h3>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <section>
    <%= link_to "Back to Media Ranks", root_path, class: "button" %>
    <%= link_to "Edit", edit_work_path(@work.id), class: "button" %>
  </section>
</article>
<article class="voting-users columns large-6 small-12">
  <h3><%= @work.votes.size %> votes for this <%= @work.category.capitalize %></h3>

  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <% @work.votes.each do |vote| %>
    <tr>
      <td><%= User.find_by(id: vote.user_id).name %></td>
      <td><%= vote.created_at.strftime('%b %d, %Y') %></td>
    </tr>
    <% end %>
  </table>
</article>
