
<div>
  <%@top_work = Work.top%>
  <h3>Media Spotlight: <%= link_to @top_work.title, work_path(@top_work.id) %> by: <%= @top_work.creator %></h3>
  <p>
    <%=@top_work.votes.count%> votes <%= @top_work.description%>
  </p>
</div>


<% @types.each do |type| %>
  <section>
    <h4>Top <%= type.capitalize %>s</h4>
    <section>
      <ul>
          <% Work.top_ten(type.to_sym).each do |work| %>
              <li>
                <h4><%=link_to work.title, work_path(work.id)%> by <small><%=work.creator%></small></h4>
                <%= work.votes.count %> votes
                <%= link_to "Upvote" %>
              </li>
          <%end%>
      </ul>
    </section>
  </section>
<% end %>
