<h1>Works#update</h1>
<p>Find me in app/views/works/update.html.erb</p>

<%= form_for @work do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%- f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.submit %>

<% end %>
