<div class="">
  <%= form_for do %>
    <%= label_tag "Username" %>
    <%= text_field :user, :name %>
    <%= submit_tag "Login" %>
    <!-- <%= f.label :name %>
    <%= f.text_field :name %> -->

    <!-- <%= f.submit button_text %> -->
  <% end %>
</div>
