<h1>Log In</h1>

<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.each do |column, message| %>
    <li> <strong><%= column.capitalize %> </strong> <%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.submit "Login" %>
<% end %>
