<h3>User Summary: <%= @user.username %></h3>
<p>Joined site <%= @user.created_at.strftime("%b") + ' ' + @user.created_at.strftime("%d") + ', ' + @user.created_at.strftime("%Y") %></p>
<h4>Votes</h4>
<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <% @user.votes.each do |vote| %>
    <tr>
      <td><%= link_to vote.work.title, work_path(vote.work_id) %></td>
      <td><%= vote.work.creator %></td>
      <td><%= vote.work.publication_year %></td>
      <td><%= vote.work.category %></td>
      <td><%= vote.created_at.strftime("%b %d, %Y")%></td>
    </tr>
  <% end %>
</table>
