<main class="row">
<h3> User Summary: <%= @users[:username] %></h3>
<p>Joined site <%= @users[:created_at].strftime("%B %d, %Y") %></p>

<h4>Votes</h4>

<table>
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted on</th>
    </tr>
  </thead>
  <tbody>
      <% @users.votes.each do |vote| %>
    <tr>
      <td><%= link_to vote.work.title, work_path(vote.work_id) %></td>
      <td><%= vote.work.creator %></td>
      <td><%= vote.work.publication_year %></td>
      <td><%= vote.work.category %></td>
      <td><%= vote.created_at.strftime("%B %d, %Y") %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<ul>
  <li class="button"><%= link_to "See all Users", users_path %></li>
  <li class="button"><%= link_to "Back to Media List", root_path %></li>
</ul>
</main>
