<h1>User Info</h1>
<h2><%=@user.name%></h2>
<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <tr>
    <% votes = Vote.where(user_id: @user.id) %>
      <% votes.each do |vote| %>

    <th>
      <%= link_to Work.find_by_id(vote.work_id).title, work_path(vote.work_id), class: "link"%>
    </th>
    <th>
      <% Work.find_by_id(vote.work_id).creator%>
    </th>
    <th>
      <%= Work.find_by_id(vote.work_id).pub_year%>
    </th>
    <th>
      <%= Work.find_by_id(vote.work_id).category%>
    </th>
    <th>
      <%= vote.updated_at %>
    </tr>
    <%end%>


</table>
