
<!-- <%=params%> -->
<h2>
  User Summary: <%=@user.name%>
</h2>
<p>
  Joined site <%=@user.created_at.strftime("%b %d, %Y")%>
</p>
<h3>
  <%=@user.total_votes_for_user%> Votes
</h3>
<table>
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>

      <tbody>
        <!-- Find all votes for a given user AND then for each vote get the details for the associated work -->
        <% @works.each_with_index do |t, index| %>
          <tr>
            <td><%=link_to(t.title, work_path(t.id)) %></td>
            <td> <%=t.creator %></td>
            <td> <%=t.pub_year%></td>
            <td> <%=t.category  %></td>
            <td> <%=@user_votes[index].created_at.strftime("%b %d, %Y") %></td>
          </tr>

        <% end %>

      </tbody>
    </table>
