

<main class='row'>
  <h3> User Summary:
    <%= link_to @user.name, user_path(@user) %>
  </h3>

  <p>
    Joined site <%= @user.joined_on %>
  </p>

  <h4>Votes</h4>

  <table>
    <thead>
      <tr>
        <th> Media Title </th>
        <th> Created By </th>
        <th> Published </th>
        <th> Category </th>
        <th> Voted On </th>
      </tr>
    </thead>
    <tbody>
      <% Work.user_cast_votes(@user).each do |vote| %>
        <tr>
          <td> <%= link_to vote.work.title, work_path(vote.work_id) %></td>
          <td> <%= vote.work.creator %> </td>
          <td> <%- vote.work.published %></td>
          <td> <%= vote.category %> </td>
          <td> <%= vote.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'See all Users', users_path, :class => 'button'%>
  <%= link_to 'Back to Media List', root_path, :class => 'button' %>
</main>
