
<h3> User Summary <%= @user.name %>
<p> Joined site <%= @user.created_at %>
</p>

<h4> Votes </h4>
  Put this code in the vote model??
<table>
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>
  </thead>
  <tbody>
    <% Vote.votes_by_user(@user).each do |vote| %>
        <tr>
          <td> <%= link_to "Title", "work_path(work_id)" %> </td>
          <td> <%= "creator" %> </td>
          <td> <%= "pub" %> </td>
          <td> <%= "cat" %> </td>
          <td> <%= vote.created_at %> </td>
        </tr>
    <% end %>
  </tbody>
</table>
