<section class="">
  <h2>User Summary: <%= @user.username %></h2>
  <p>Joined site <%= @user.created_at.strftime('%a %d %b %Y') %></p>
  <h3>Votes</h3>

  <% if @user.number_of_vote > 0 %>
    <table>
      <tr>
        <th scope="columns">Media Title</th>
        <th scope="columns">Created By</th>
        <th scope="columns">Published</th>
        <th scope="columns">Category</th>
        <th scope="columns">Voted On</th>
      </tr>
      <%  @user.votes.each do |vote| %>
        <tr>
          <td><%= link_to(Work.find_by_id(vote.work_id).title, work_path(Work.find_by_id(vote.work_id).id)) %></td>
          <td><%= Work.find_by_id(vote.work_id).creator %></td>
          <td><%= Work.find_by_id(vote.work_id).publication_year %></td>
          <td><%= Work.find_by_id(vote.work_id).category %></td>
          <td><%= vote.created_at.strftime('%a %d %b %Y') %></td>
        </tr>
      <%  end %>
    </table>
  <% else %>
    <p>No vote to show yet!</p>
  <% end %>



  <%= button_to("See all Users", users_path, method: :get) %>
  <%= button_to("Back to Media List", works_path, method: :get) %>

</section>
