
<!-- <%=params%> -->
<h2>
  User Summary: <%=@user.name%>
</h2>
<p>
  Joined site <%=@user.created_at.strftime("%b %d, %Y")%>
</p>
<h3>
  Votes
</h3>
<table>
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>

      <tbody>
        <% @user_votes.each do |t| %>
          <tr>
            <td><%=link_to(t.work_id, work_path(t.work_id)) %></td>
            <td> <%=  %></td>
            <td> <%=  %></td>
            <td> <%=  %></td>
            <td> <%= t.created_at.strftime("%b %d, %Y") %></td>
          </tr>

        <% end %>

      </tbody>
    </table>
