
<!-- <%=params%> -->
<h2>
  User Summary: <%=@user.name%>
</h2>
<p>
  Joined site <%=@user.created_at.strftime("%b %d, %Y")%>
</p>
<h3>
  <%=@user.total_votes_for_user%> Votes
</h3>
<table>
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>

      <tbody>
        <!-- Find all votes for a given user AND then for each vote get the details for the associated work -->
        <% @user.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.work.title, work_path(vote.work_id) %></td>
          <td><%= vote.work.creator %></td>
          <td><%= vote.work.pub_year %></td>
          <td><%= vote.work.category %></td>
          <td><%= vote.created_at.to_date.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
]

      </tbody>
    </table>
