<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<ul>
  <li>Username: <%= @user.username %></li>
  <li>joined Site: <%= @user.created_at %></li>
</ul>


<h2>Votes</h2>
<table>
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>
  </thead>
  <tbody>
    <% @user.votes.each do |vote| %>
    <tr>
      <td><%= vote.work.title %></td>
      <td><%= vote.work.creator %></td>
      <td><%= vote.work.publication_year %></td>
      <td><%= vote.work.category %></td>
      <td><%= vote.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to("See All Users",users_path) %>
<%= link_to("Back to Media List", works_path) %>




<!-- <%= link_to "Delete", user_path(@user[:id]), method: :delete %> -->
  <%# button_to("Delete User", user_path, method: :delete) %>

<%# link_to("Edit User", edit_user_path, alt: "Edit User form") %>
<%# button_to("Edit user", edit_user_path, method: :get) %>
