<h3>Media Spotlight: <%= link_to "#{@spotlight.title}", work_path(@spotlight)%></h3>

<h3>Books:</h3>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.votes.count %>: <%= book.title %>
    </li>
  <%end%>
</ul>

<h3>Albums:</h3>
<ul>
  <% @albums.each do |album| %>
    <li>
      <%= album.votes.count %>: <%= album.title %>
    </li>
  <%end%>
</ul>

<h3>Movies:</h3>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.votes.count %>: <%= movie.title %>
    </li>
  <%end%>
</ul>
