
<h3> Most voted </h3>
<%= most = @works.sort_all(@works).first.title %>
 <% collections = [@movies, @books, @albums] %>
<ul>
  <% collections.each do |category| %>


  <% items = @works.sort_all(category)[0..9] %>

<h2> Top <%= items.first.category %> </h2> 
  <% items.each do |work| %>
  <li>
    Title: <%= link_to work.title, work_path(work.id) %>
    Created by: <%=work.creator %>
    Published: <%=work.year%>
    Votes: <%=work.votes.count%>
  </li>
  <% end %>
<% end %>

</ul>
