<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->



<h3>Media Spotlight: <%= link_to(@spotlight.title, work_path(@spotlight.id)) %> by: <%=@spotlight.creator%> </h3>


<div class="middle">
  <h3>Top Movies</h3>
  <ul>
    <% @movies.each do |movie| %>
      <li><%=link_to(movie.title, work_path(movie.id)) %> by: <%= movie.creator %></li>
      <li> <%= movie.votes.count %></li>
    <%end%>
  </ul>
</div>


<div class="right">
  <h3>Top books</h3>
  <ul>
    <% @books.each do |book| %>
      <li><%= link_to(book.title, work_path(book.id)) %> by: <%= book.creator %></li>
      <li><%= book.votes.count %></li>
    <%end%>
  </ul>
</div>


<div class="left">
  <h3>Top Albums</h3>
  <ul>
    <% @albums.each do |album| %>
      <li><%=link_to(album.title, work_path(album.id)) %> by: <%= album.creator %></li>
      <li> <%= album.votes.count %> </li>
    <%end%>
  </ul>
</div>
