<main class="grid-x main-index">

  <article class="small-12 cell media-spotlight">
    <div>
      <h2><span>Media Spotlight:</span>
        <% w = @works.max_by { |work| work.votes.length } %>
        <%= link_to w.title, work_path(w[:id]) %>
        by <%= w.creator %>
      </h2>
      <p><%= w.votes.length %> votes - <%= w.desc %></p>
    </div>
  </article>

  <article class="small-12 cell top-lists">
    <div class="grid-x">
      <section class="small-12 large-4 cell movies-list">
        <h3>Top Movies</h3>
        <ul>
          <% movies = @movies.reverse[0..9] %>
          <% movies.each do |movie_work| %>
            <li>
              <%= link_to movie_work.title, work_path(movie_work[:id]) %>
              by <%= movie_work.creator %>
              <br />
              <span class="vote-count"><%= movie_work.votes.length %> votes</span>
            </li>
          <% end %>
        </ul>
      </section>

      <section class="small-12 large-4 cell books-list">
        <h3>Top Books</h3>
        <ul>
          <% books = @books.reverse[0..9] %>
          <% books.each do |book_work| %>
            <li>
              <%= link_to book_work.title, work_path(book_work[:id]) %>
              by <%= book_work.creator %>
              <br />
              <span class="vote-count"><%= book_work.votes.length %> votes</span>
            </li>
          <% end %>
        </ul>
      </section>

      <section class="small-12 large-4 cell albums-list">
        <h3>Top Albums</h3>
        <ul>
          <% albums = @albums.reverse[0..9] %>
          <% albums.each do |album_work| %>
            <li>
              <%= link_to album_work.title, work_path(album_work[:id]) %>
              by <%= album_work.creator %>
              <br />
              <span class="vote-count"><%= album_work.votes.length %> votes</span>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
  </article>
</main>
