<%= render partial: 'layouts/header' %>

<section>
  <% flash.each do |key, value|%>
  <h3> <%= value %> </h3>
  <% end %>
</section>

<section>
    <h3>
      Media Spotlight: <%= @top_work.title %> by <%= @top_work.creator%>
    </h3>
    <p>
      <%= @top_work_votes.count %> votes - <%= @top_work.description %>
    </p>
</section>

<section>
  <h3>
    Top Albums
  </h3>

  <ul>
    <% top_10('album').each do |album| %>
      <li>
        <h4>
            <%= link_to album.title, work_path(album) %>
            <small> by <%= album.creator %> </small>
        </h4>
        <p>
          <%= votes_for_work(album) %> votes
        </p>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h3> Top Movies </h3>
    <ul>
      <%  top_10('movie').each do |movie| %>
        <li>
          <h4>
              <%= link_to movie.title, work_path(movie) %>
              <small> by <%= movie.creator %> </small>
          </h4>
          <p>
            <%= votes_for_work(movie) %> votes
          </p>
        </li>
      <% end %>
    </ul>
</section>


<section>
  <h3>
    Top Books
  </h3>

  <ul>
    <%   top_10('book').each do |book| %>
      <li>
        <h4>
            <%= link_to book.title, work_path(book) %>
            <small> by <%= book.creator %> </small>
        </h4>
        <p>
          <%= votes_for_work(book) %> votes
        </p>
      </li>
    <% end %>
  </ul>
</section>
