<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= link_to("View Top Media") %>

<%= link_to("View All Media", works_path) %>
<%= link_to "Add New Work", new_work_path %>

<%= link_to("View All Users") %>
<%= link_to("Log In") %>


<%# @works.sort(.category).limit(10) %>
