<h1> Media Ranker </h1>

<%if @spotlight != nil%>
  <h2>Media Spotlight: <%= link_to @spotlight.title, work_path(@spotlight.id)%></h2>
  <p>
    <%= "num votes" %>
  </p>
<%end%>

<h3>Top Movies</h3>
<ul>
  <% @top_movies.each do |movie| %>
  <li><%= link_to movie.title, work_path(movie.id) %> by <%= movie.creator %></li>
  <% end %>
</ul>

<h3>Top Books</h3>
<ul>
  <% @top_books.each do |book| %>
  <li><%= link_to book.title, work_path(book.id) %> by <%= book.creator %></li>
  <% end %>
</ul>

<h3>Top Albums</h3>
<ul>
  <% @top_albums.each do |album| %>
  <li><%= link_to album.title, work_path(album.id) %> by <%= album.creator %></li>
  <% end %>
</ul>
