


<h3><span class"media-spotlight-header">Media Spotlight:</span> <%= @top.title %> by <%= @top.creator%></h3>
<p>
  <%= @top.votes.count %> votes - <%= @top.description %>
</p>
<hr>

<%= render partial: "works_table", locals: { model: @movies}%>
<%= render partial: "works_table", locals: { model: @books}%>
<%= render partial: "works_table", locals: { model: @albums}%>
