<h1>MediaRanker</h1>
<h2>Ranking the Best of Everything</h2>

<nav>
  <ul>
    <li><%= link_to "View Top Media", root_path %></li>
    <li><%= link_to "View All Media", works_path %></li>
    <li><%= link_to "Add a new work", new_work_path %></li>
  </ul>
</nav>

<h3> Top Albums </h3>

<ul>
  <% @works.each do |work| %>
    <% if work.category == "album" %>
      <li> <%= link_to(work.title, work_path(work.id)) %> </li>
    <% end %>
  <% end %>
</ul>


<h3> Top Books </h3>

<ul>
  <% @works.each do |work| %>
    <% if work.category == "book" %>
      <li> <%= link_to(work.title, work_path(work.id)) %> </li>
    <% end %>
  <% end %>
</ul>

<h3> Top Movies </h3>

<ul>
  <% @works.each do |work| %>
    <% if work.category == "movie" %>
      <li> <%= link_to(work.title, work_path(work.id)) %> </li>
    <% end %>
  <% end %>
</ul>
