<h2> Media Spotlight</h2>

<li><%= link_to @rand_work.title, work_path(@rand_work.id) %></li>
<p>by <%= @rand_work.creator %></p>

<h3> Top Albums </h3>

<ul>
  <% @works.each do |work| %>
    <% if work.category == "album" %>
      <li> <%= link_to(work.title, work_path(work.id)) %> </li>
    <% end %>
  <% end %>
</ul>


<h3> Top Books </h3>

<ul>
  <% @works.each do |work| %>
    <% if work.category == "book" %>
      <li> <%= link_to(work.title, work_path(work.id)) %> </li>
    <% end %>
  <% end %>
</ul>

<h3> Top Movies </h3>

<ul>
  <% @works.each do |work| %>
    <% if work.category == "movie" %>
      <li> <%= link_to(work.title, work_path(work.id)) %> </li>
    <% end %>
  <% end %>
</ul>
