<header>
  <nav>
    <h2>
      Media Ranker
    </h2>

    <small>
      Ranking the Best of Everything
    </small>
  </nav>

  <nav>
    <a href='/'>View top media </a>
    <a href='/works'>View all media </a>
    <a href='/works/new'>Add a new work </a>
    <a href='/users'>View all users </a>
  </nav>

  <div>
    <a href='/login'> Log In </a>
  </div>
</header>

<%= form_for @album do |form| %>
  <%= form.label :category %>
  <%= form.select :category, options_for_select['book', 'movie', 'album'] %>
  <br />
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br />
  <%= form.label :creator %>
  <%= form.date_field :creator %>
  <br />
  <%= form.label :published %>
  <%= form.check_box :published %>
  <br />
  <%= form.label :description %>
  <%= form.check_box :description %>
  <br />

  <%= form.submit "Update work"%>
<% end %>
