<h1>MainPage#index</h1>
<article id="spotlight">

  <h2>Media Spotlight: <%= @spotlight_medi %></h2>
</article>

<% categories.each do |category| %>
<article id= <%="top-#{category}" %> class="top-media">
  <h2><%= "Top #{category.upcase}" %></h2>
  <ul>
    <li>
      <%= link_to(work.title, work_path(work.id)) %> by <%=work.creator %>
    </li>
    <li>
      <%=work.votes_count %> votes
    </li>
  </ul>

<p>Find me in app/views/main_page/index.html.erb</p>
