<h1>MainPage#index</h1>
<article id="spotlight">

  <h2>Media Spotlight: <%= link_to(@spotlight_work.title, work_path(@spotlight_work.id)) %> </h2>
  <h3>
    <%= "by #{@spotlight_work.creator} " %>
  </h3>
  <p class="description">
    <%= @spotlight_work.description %>
  </p>
  <p>
    <%= @spotlight_work.votes.length %> votes
  </p>
</article>

<% @works.each do |category, works| %>
<% i = 1 %>
<article id= <%="top-#{category}" %> class="top-media">
  <h2><%= "Top #{category.upcase}" %></h2>
  <ul>
    <% works.each do |work| %>
    <% break if i > 10 %>
    <li>
      <%= link_to(work.title, work_path(work.id)) %> by <%=work.creator %>
    </li>
    <li>
      <%=work.votes.length %> votes
    </li>
    <% i += 1 %>
    <% end %>
  </ul>
  <hr />
  <%end %>

<p>Find me in app/views/main_page/index.html.erb</p>
