<h1>This is the voting page</h1>

<%= form_for @vote do |f| %>
<ul>

    <li>
      <%= f.label :creator %>
      <%= f.text_field :creator, class: "form-field"%>
    </li>
    <li>
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year, class: "form-field"%>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-field"%>
    </li>

    <li>
      <%= f.submit class: "submit"%>
    </li>

  </ul>
  <% end %>
