<header>

    <h2>
      <%= link_to 'Media Ranker', root_path %>
      <small>
        Ranking the Best of Everything
      </small>
    </h2>



  <nav class='column'>
    <%= link_to 'View top media', root_path, :class => 'button' %>
    <%= link_to 'View all media', works_path, :class => 'button' %>
    <%= link_to 'Add a new work', new_work_path, :class => 'button' %>
    <%= link_to 'View all users', users_path, :class => 'button' %>



    <% if user_signed_in %>
      <%= link_to 'Logout', logout_path, :class => 'button-right'%>
      <%= link_to 'Logged in as '+ get_user_name, user_path(get_user_id), :class => 'button-right'%>
    <% else %>
      <%= link_to 'Log In', login_path, :class => 'button-right'%>
    <% end %>

  </nav>
</header>

<section>
  <% flash.each do |key, value|%>
  <h3> <%= value %> </h3>
  <% end %>
</section>
