<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "row">
      <h1>
        <%= link_to "Top Media", root_path %>
        </h1>
        <nav>
          <ul>
            <li><%= link_to "Log In" %>, </li>
          </ul>
        </nav>
    </header>
    <%= yield %>
  </body>

  <footer>
    &copy 2017
  </footer>
</html>
