<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'owl.jpg' %>
  </head>

  <body class="grid-container fluid">
    <header class="main-header grid-x">
      <h1 class="small-12 cell"><%=link_to "Media Ranker", root_path %> | Ranking the Best of Everything</h1>
      <nav class="small-12 cell">
        <div class="grid-x">
          <section class="small-12 large-8 cell">
            <%= link_to "View top media", root_path, class: "button" %>
            <%= link_to "View all media", works_path, class: "button" %>
            <%= link_to "Add a new work", new_work_path, class: "button" %>
            <%= link_to "View all users", users_path, class: "button" %>
          </section>
          <%# if session[:logged_in_user]%>
          <!-- <p>Logged in as -->
          <%# User.find(session[:logged_in_user]).name%>
          <!-- <button>Logged in as {name}</button>
          <button>Log Out</button> -->
          <!-- </p> -->
          <%# else%>
          <!-- <p>Not logged in</p> -->
          <%# end %>
          <section class="login-buttons small-12 large-4 cell">
            <%= link_to "Log In", login_path, class: "button" %>
          </section>
        </div>
      </nav>
    </header>

    <section class="flash <%= flash[:status]%>">
      <p><%= flash[:message]%></p>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
          <li>
            <strong>
              <%= field %>:
            </strong>
            <%= problem %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
