<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Add a new work", new_work_path %>
    <%= link_to "View Top Media", root_path %>
    <%= link_to "View all users", "#" %>
    <%= link_to "View All Media", works_path %>

    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
     </section>

    <%= yield %>
  </body>
</html>
