<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 class= "columns small-12">
      <%= link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>
    <nav class = "columns small-12">
      <%= link_to "View Top Media", root_path, class: :button %>
      <%= link_to "View All Media", works_path, class: :button %>
      <%= link_to "Add a New Work", new_work_path, class: :button %>
    </nav>
    <section class="flash">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
