<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row bg-color">
      <h2 class="small-12 columns align">
        <%= link_to "Media Ranker", root_path, class: "brand-style" %>
        <small>
          Rank the Best of Everything
        </small>
      </h2>

      <%# Must fix these %>
      <nav class="small-12 columns clearfix padding">
        <%= link_to "View top media", root_path, class: "button" %>
        <%= link_to "View all media", works_path, class: "button" %>
        <%= link_to "Add a new work", new_work_path, class: "button" %>
        <%= link_to "View all users", users_path, class: "button" %>

        <%# When session is logged in, will add a Log Out button to the navigation %>
        <% if session[:logged_in_session]  %>
          <div class="float-right">
            <%= link_to "Log Out", logout_path, class: "button" %>
          </div>

          <div class="float-right">
            <%= link_to "Logged in as #{User.find(session[:logged_in_session]).name}", user_path(session[:logged_in_session]), class: "button" %>
          </div>

        <% else %>

          <div class="float-right">
            <%= link_to "Log In", login_path, class: "button" %>
          </div>

        <% end %>
      </nav>
    </header>

    <%# Flash log in message %>
    <section class="row">
      <% if session[:logged_in_session] %>
        <h3>
          <%= flash[:message] %>
          <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong>
                    <%= field %>:
                  </strong>
                  <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <% end %>
        </h3>
      <% end %>
    </section>

    <%# Flash log out message %>
    <% if session[:logged_in_session] == nil %>
      <section class="row">
        <h3>
          <%= flash[:message] %>
          <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong>
                    <%= field %>:
                  </strong>
                  <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <% end %>
        </h3>
    </section>
  <% end %>


    <%= yield %>

  </body>
</html>
