<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>Params<%=params%></div>
      <div>Params.inspect<%=params.inspect%></div>
      <!-- <div>session.inspect<%=session.inspect%></div> -->
      <div>Params[session]<%=%></div>
      <div>Session[user_id]<%=session[:user_id]%></div>
      <strong><h2><%= link_to("Media Ranker", home_path, alt:'homepage')%></h2></strong>
      <nav>
        <ul>
          <li>
            <%= link_to("View Top Media", root_path) %>
          </li>
          <li>
            <%= link_to("View All Media", works_path) %>
          </li>
          <li>
            <%= link_to("Add A New Work", new_work_path)  %>
          </li>
          <li>
            <%= link_to("View All Users", users_path) %>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to("Login", login_form_path) %>
          </li>
          <li>
            Logged in as <%=session[:user_id]%>
          </li>
          <li>
            Log Out
          </li>
        </ul>
      </nav>
    </header>

    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
