<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row bg-color">
      <h2 class="small-12 columns align row">
        <%= link_to "Media Ranker", root_path, class: "brand-style hover-orange" %>
        <small>
          Ranking the Best of Everything
        </small>
      </h2>

      <%# Must fix these %>
      <nav class="small-12 columns clearfix padding">
        <%= link_to "View top media", root_path, class: "button" %>
        <%= link_to "View all media", works_path, class: "button" %>
        <%= link_to "Add a new work", new_work_path, class: "button" %>
        <%= link_to "View all users", users_path, class: "button" %>

        <%# When session is logged in, will add a Log Out button to the navigation %>

        <% if session[:logged_in_session] != nil %>

          <div class="float-right">
            <%= link_to "Log Out", logout_path, class: "button" %>
          </div>

          <% user = User.find(session[:logged_in_session]) %>
          <div class="float-right logged-in-padding">
            <%= link_to "Logged in as #{user.name}", user_path(session[:logged_in_session]), class: "button" %>
          </div>

        <% else %>

          <div class="float-right">
            <%= link_to "Log In", login_path, class: "button" %>
          </div>

        <% end %>

      </nav>
    </header>

    <section class="flash <%= flash[:status] %> row">
      <p class="no-margin">
        <%= flash[:message] %>
      </p>
      <% if flash[:details] %>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
          <li>
            <strong>
              <%= field.capitalize %>:
            </strong>
            <%= problem.capitalize %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </section>

    <%= yield %>

  </body>
</html>
