<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h1 class="small-12 columns">Media Ranker Ranking the Best of Everything</h1>
      <nav class="small-12">
        <div class="small-6 large-2 columns">
          <%= link_to "View top media", root_path %>
        </div>
        <div class="small-6 large-2 columns">
            <%= link_to "View all media", works_path %>
        </div>
        <div class="small-6 large-2 columns">
          <%= link_to "Add a new work", new_work_path %>
        </div>
        <div class="small-6 large-2 columns">
          <%= link_to "View all users", users_path %>
        </div>

        <% if session[:logged_in_user] %>
          <p>
            Logged in as: <%= User.find(session[:logged_in_user]).username %>
          </p>
        <% else %>
          <p>
            Not logged in
          </p>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
