<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header row">
      <h2 class="columns small-12">
        <%= link_to "Media Ranker", 'root_path' %>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav class="columns small-12">

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
