<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h1 class="small-12 columns">anders' Media Ranker</h1>
      <nav class="row">
        <div class="small-2 columns"><%= link_to "View top media", root_path %></div>
        <div class="small-2 columns"><%= link_to "View all media", works_path %></div>
        <div class="small-2 columns"><%= link_to "Add a new work", new_work_path %></div>
        <div class="small-2 columns"><%= link_to "View all users", users_path %></div>

        <% if session[:logged_in_user] %>
          <% current_user = User.find_by(id: session[:logged_in_user])%>

          <div class="small-2 columns">
            <%= link_to "Logged in as #{current_user.name}", user_path(current_user.id) %>
          </div>
          <div class="small-2 columns"><%= link_to "Logout", logout_path %></div>

        <% else %>
          <div class="small-2 columns"><%= link_to "Login", login_path %></div>
        <% end %>
      </nav>
    </header>

    <section class="flash <%= flash[:status] %>">
      <p>
        <%= flash[:message] %>
      </p>
    </section>

    <%= yield %>
  </body>
</html>
