<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_link">
        <% if session[:logged_in_user] %>
            <p class="button">
              Logged in as
              <%= User.find(session[:logged_in_user]).username %>
            </p>
            <%= link_to "Log out", logout_path, class: "button" %>
          <% else %>
            <%= link_to "Log in", login_path, class: "button" %>
          <% end %>
        <%=link_to "All Works", works_path, method: :get%>
        <%=link_to "Add New Work", new_work_path, method: :get%>
      </div>
    </header>

    <main>
      <section class="flash <%= flash[:status] %>">
        <p>
          <%= flash[:message] %>
        </p>
        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong>
                    <%= field %>:
                  </strong>
                  <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>

      <%= yield %>
    </main>

    <footer>
      <div>
          copyright 2017
      </div>

    </footer>
  </body>
</html>
