<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if session[:logged_in_user] %>
        <p>Logged in as <%= User.find(session[:logged_in_user]).username %></p>
      <% else %>
        <p>Not logged in.</p>
      <% end %>
    </header>
    <main>
      <section class="flash <%= flash[:status] %>">
        <p><%= flash[:message] %></p>
        <ul>
          <% if flash[:details] %>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li> <strong><%= field.capitalize %> </strong> <%= problem %></li>
                <% end %>
              <% end %>
            <% end %>
        </ul>
      </section>

      <%= yield %>
    </main>

  </body>
</html>
