<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Rank Media</h1>
    <nav>
      <div class="">
        <%= link_to "Home", root_path %>
        <%= link_to "All Media", works_path %>
        <%= link_to "Add New Work", new_work_path %>
        <%= link_to "View All Users" %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
