<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='row'>
        <h1 class='small-5 columns'>Media Ranker </h1>
        <h2 class='small-7 columns'>Ranking the Best of Everything</h2>
      </div>
      <nav class='small-12 columns'>
        <ul class='small-8 columns'>
          <li >
            <%= link_to 'View top media', root_path %>
          </li>
          <li>
            <%= link_to 'View all media', works_path %>
          </li>
          <li>
            <%= link_to 'Add a new work', new_work_path %>
          </li>
          <li>
            <%= link_to 'View all users', users_path %>
          </li>
        </ul>

        <ul class='small-4 columns '>
          <li>
            <%= link_to "Login", login_path %>
          </li>
          <% if session[:logged_in_user] %>
          <li>
            <%= link_to "Logged in as #{User.find(session[:logged_in_user]).name}", user_path(User.find(session[:logged_in_user]))  %>
          </li>
          <%else%>
          <li>
            Not logged in.
          </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <section class="flash <%= flash[:status] %>">
        <p>
          <%= flash[:message] %>
        </p>

        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong><%= field %>:</strong> <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>

      <%= yield %>
    </main>
  </body>
</html>
