<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "row">
      <h1 class="small-12 columns"> Media Ranker </h1>
      <nav class="row">
        <div class="large-8 small-12 columns button-group">
          <%= link_to "Add New Work", new_work_path %>
        </div>
        <div class="large-4 small-12 columns button-group">
          <%# if session[:logged_in_user] %>
          <p></p>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
