<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2><%= link_to "Media Ranker", root_path %></h2>
      <small>Ranking the Best of Everything</small>
    </header>

    <nav>
      <%= link_to "View top media" %>
      <%= link_to "View all media", works_path %>
      <%= link_to "Add a new work", new_work_path %>
      <%= link_to "View all users" %>
      <div class="float-right">
          <%= link_to "Log In" %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
