<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h1 class="small-12 columns">MediaRanker</h1>
      <nav class="small-12">
        <!-- <link_to class="small-6 large-2 columns" -->


      <%# if session[:logged_in_user] %>
      <!-- <p>
        Logged in as
        <%= User.find(session[:logged_in_user]).username %>
      </p>
      <%# else %>
      <p>
        Not logged in
      </p> -->
      <%# end %>
</nav>
    </header>
    <main>
      <section class="flash <%= flash[:status]%>">
        <p>
          <%= flash[:message] %>
        </p>
        <% if flash[:details] %>
        <ul>
          <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>

          <h3><%= field.capitalize %> <%= problem %></h3>

          <% end %>
          <%end%>

        </ul>
        <% end %>
      </section>
    </main>
    <%= yield %>
  </body>
</html>
