<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <h2>Media Ranker | Ranking the Best of Everything</h2>
      SESSION ID!!!! <%= session[:user_id] %>
    <nav>
      <%= button_to("View top media", root_path, method: :get, alt: "link to home page") %>
      <%= button_to("View all media", works_path, method: :get, alt: "link to index page") %>
      <%= button_to("Add a new work", new_work_path, method: :get, alt: "link to add a new work") %>
      <%= button_to("View all users", users_path, method: :get, alt: "link to user index") %>
      <div>
        <%= button_to((session[:user_id] == nil ? "Log In" : "Logged in as #{session[:name]}"), login_path, method: :get, alt: "link to user summary") %>
        <%= button_to("Log Out", logout_path, method: :get, alt: "link to log out") %>
      </div>
    </nav>
  </header>

  <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
