<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker BB</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header class="page-header row">
  <div class="main-title-header">
  <h2 class="columns small-12"><%= link_to "Media Ranker", '/', method: :get, class: "title" %> <small>Ranking the Best of Everything</small></h2>
  </div>
  <nav class="columns small-12">
    <div class="large-8 small-12 columns">
      <%= link_to "View top media", '/', method: :get, class: 'button' %>
      <%= link_to "View all media", works_path, method: :get, class: 'button' %>
      <%= link_to "Add a new work", new_work_path, method: :get, class: 'button'%>
      <%= link_to "View all users", users_path, method: :get, class: 'button'%>
    </div>

    <div class="float-right">
      <% if session[:username] == nil %>
      <%= link_to "Log In", login_path, method: :get, class: 'button' %>
      <% else %>
      <%= link_to "Logged in as #{session[:username]}", user_path(session[:user_id]), method: :get, class: 'button' %>
      <%= link_to "Log Out", logout_path, method: :delete, class: 'button' %>
      <% end %>
    </div>
  </nav>
</header>

<body>

  <section>
    <% flash.each do |name, message| %>
    <div class= "<%= name %>" > <%= message %> </div>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
