<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "row">
      <h1 class="small-12 columns"> Media Ranker </h1>
      <nav class="row">
        <div class="large-8 small-12 columns button-group">
          <%= link_to "View Top Media", root_path %>
          <%= link_to "View All Media", works_path %>
          <%= link_to "Add a New Work", new_work_path %>
          <%= link_to "View all Users", users_path %>
        </div>
        <div class="large-4 small-12 columns button-group">
          <% if session[:logged_in_user] %>
            <p> <%= link_to "Logged in as #{User.find(session[logged_in_user]).name}", user_path%> </p>
            <%else%>
            <%= link_to "Log in", login_path %>
          <%end%>
        </div>
      </nav>
    </header>

  <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"> <%= message %> </div>
    <% end %>
  </section>

    <%= yield %>
  </body>
</html>
