<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h1 class="small-12 columns">anders' Media Ranker</h1>
      <nav class="row">
        <div class="small-3 columns"><%= link_to "View top media", root_path %></div>
        <div class="small-3 columns"><%= link_to "View all media", works_path %></div>
        <div class="small-3 columns"><%= link_to "Add a new work", new_work_path %></div>
        <div class="small-3 columns"><%= link_to "View all users", users_path %></div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
