<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="page-header row">
    <h2 class="columns small-12">
      <%= link_to 'Media Ranker', root_path %>
    </h2>
    <small>Ranking the best of everything<small>
      <nav class="columns small-12">
        <%= link_to 'top media', root_path, class: "button" %>
        <%= link_to 'view all media', works_path, class: "button" %>
        <%= link_to 'add a new work', new_work_path, class: "button" %>
        <%= link_to 'view all users', users_path, class: "button" %>
        <div class="float right">
          <% if @session_user %>

          <%= link_to "Logged in as #{@session_user.name}", user_path(@session_user.id), class: "button" %>
          <%= link_to 'Log Out', logout_path, method: :post, class: "button" %>
          <% else %>
          <%= link_to 'log in', login_path %>
          <% end %>
        </div>
        </nav>
      </header>
      <section class="flash">
        <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
        <% end %>

        <main class="row">
          <%= yield %>
        </main>
      </footer>
    </body>
    </html>
