<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h2><%= link_to 'Media Ranker', root_path %></h2>
      <small>Ranking the Best of Everything</small>
      <%= button_to "View top media", root_path, method: :get %>
      <%= button_to "View all media", works_path, method: :get %>
      <%= button_to "Add a new work", new_work_path, method: :get %>
      <%= button_to "View all users", users_path, method: :get %>
    </nav>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
