<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <h1><%=link_to "Media Ranker", root_path %> | Ranking the Best of Everything</h1>
      <nav>
        <section class="list-buttons">
          <%= link_to "View top media", root_path %>
          <%= link_to "View all media", works_path %>
          <%= link_to "Add a new work", new_work_path %>
          <%= link_to "View all users", users_path %>
        </section>
        <section class="login-buttons">
          <%= link_to "Log In", new_user_path %>
        </section>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
<!--
if session[:logged_in_author]
p - logged in as
Author.find(session[:logged_in_author]).name
else
not logged in -->


<!-- section class="flash <%# flash[:status]%>" -->
<!-- flash[:message]
if flash[:details]
flash[:details].each do |field,problems|
problems.each do |problem|
field
problem
end
end
end -->
