<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "row">
      <h1>
        <%= link_to "Top Media", root_path %>
        </h1>


        <nav class="top-bar" data-topbar role="navigation" >
          <ul>
            <li class = "left button"> <%= link_to "Books", books_path , class: "button" %> </li>
            <li class = "left button"><%= link_to "Movies", movies_path , class: "button" %>  </li>
            <li class = "left button"><%= link_to "Music", music_path ,  class: "button"  %> </li>
            <li class = "left button"><%= link_to "Add Media",  new_media_instance_path(media_type: "book"),  class: "button"  %> </li>
            <% if session[:user_id] %>
              <li class = "right button"> <%= link_to "Log Out", logout_path,  class: "button" %> </li>
            <% else %>
            <li class = "right button"><%= link_to "Log In", login_path,  class: "button" %> </li>
              <% end %>
          </ul>
          </nav>

    </header>
    <%= yield %>
  </body>

  <footer>
    &copy 2017
  </footer>
</html>
