<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
</head>

<body>
  <header class="page-header row">
    <h2 class="small-12 columns"><%= link_to("Media Ranker", root_path) %><small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <%= link_to("View Top Media", root_path, class: "button") %>
      <%= link_to("View All Media", works_path, class: "button") %>
      <%= link_to("Add New Work", new_work_path, class: "button") %>
      <%= link_to("View All Users", users_path, class: "button") %>
      <div class="float-right">
        <% if session[:user_id] %>
          <%= link_to "Logged in as #{User.find_by(id: session[:user_id]).name}", user_path(session[:user_id]), class: "button" %>
          <%= link_to "Log Out", logout_path, class: "button", method: :post %>
        <% else %>
        <%= link_to("Login", login_path, class: "button") %>
        <% end %>
      </div>
    </nav>
  </header>
  <main class="row">
    <h2>session</h2>
    <%= session[:user_id] %>
    <% unless flash.empty? %>
    <section class="row status">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
