<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h1 class="row">anders' Media Ranker</h1>
      <nav class="row">
        <div class="large-8 small-12 columns button-group">
          <%= link_to "View top media", root_path, class: "button"%>
          <%= link_to "View all media", works_path, class: "button" %>
          <%= link_to "Add a new work", new_work_path, class: "button" %>
          <%= link_to "View all users", users_path, class: "button" %>
        </div>

        <div class="large-4 small-12 columns button-group row">
          <% if session[:logged_in_user] %>
            <% current_user = User.find_by(id: session[:logged_in_user])%>
              <%= link_to "Logged in as #{current_user.name}", user_path(current_user.id), class: "button small-6 large-3" %>
              <%= link_to "Logout", logout_path, class: "button small-6 large-3" %>
          <% else %>
            <%= link_to "Login", login_path, class: "button small-6 large-3" %>
          <% end %>
        </div>
      </nav>
    </header>

    <section class="flash <%= flash[:status] %>">
      <p>
        <%= flash[:message] %>
      </p>
      <% if flash[:details] %>
        <ul>
          <% flash[:details].each do |field, problems| %>
            <% problems.each do |problem| %>
              <li>
                <strong>
                  <%= field %>:
                </strong>
                <%= problem %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
