<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Media Ranker | Ranking the Best of Everything</h1>
      <%= button_to("View top media", root_path, method: :get) %>
      <%= button_to("View all media", works_path, method: :get) %>
      <%= button_to("Add a new work", new_work_path, method: :get) %>
      <%= button_to("View all users", users_path, method: :get) %>
      <% if session[:logged_in_user] %>
        <%= button_to("Logged in as #{User.find_by_id(session[:logged_in_user]).username}", user_path(session[:logged_in_user]), method: :get) %>
        <%= button_to("Log out", logout_path, method: :delete) %>
      <% else %>
        <%= button_to("Log in", login_path, method: :get) %>
      <% end %>

    </header>
    <main>
      <section class="flash <%= flash[:status] %>">
        <p><%= flash[:message] %></p>
        <ul>
          <% if flash[:details] %>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li> <strong><%= field.capitalize %> </strong> <%= problem %></li>
                <% end %>
              <% end %>
            <% end %>
        </ul>
      </section>

      <%= yield %>
    </main>

  </body>
</html>
