<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header row">
      <h2 class="columns small-12">
        <%= link_to "Media Ranker", root_path %>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav class="columns small-12">
        <%= link_to "View top media", root_path, class: "button" %>
        <%= link_to "View all media", works_path, class: "button" %>
        <%= link_to "Add a new work", new_work_path, class: "button" %>
        <%= link_to "View all users", users_path, class: "button" %>
        <div class="float-right">
          <% if session[:logged_in_as_user] %>
            <%= link_to "Log Out", logout_path, class: "button float-right" %>
            <%= link_to "Logged in as #{User.find(session[:logged_in_as_user]).username}", user_path(session[:logged_in_as_user]), class: "button float-right" %>
          <% else %>
            <%= link_to "Log In", login_path, class: "button float-right"%>
          <% end %>
        </div>
      </nav>
    </header>

    <% flash.each do |name, message| %>
    <section class="row status <%= name %>">
      <h3><%= message %></h3>
      <% if flash[:errors] %>
        <ul class="errors">
            <% flash[:errors].each do |column, message| %>
              <li>
                <%= "#{column}: #{message}" %>
              </li>
            <% end %>
        </ul>
      <% end %>
    </section>
    <% end %>

    <main class="row">
      <%= yield %>
    </main>
  </body>
</html>
