<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Media Ranker</h1>
      <h2>Ranking the best of everything</h2>
      <nav>
        <%= link_to 'top media', root_path %>
        <%= link_to 'view all media', works_path %>
        <%= link_to 'add a new work', new_work_path %>
        <%= link_to 'view all users', users_path %>
        <% if @session_user %>
        <%= link_to "Logged in as #{@session_user.name}", user_path(@session_user.id) %>
        <%= link_to 'Log Out', login_path, method: :post %>
        <% else %>
        <%= link_to 'log in', login_path %>
        <% end %>
      </nav>
    </header>
    <section class="flash">
<% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
  <% end %>

    <%= yield %>
  </footer>
  </body>
</html>
