<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header row'>

        <h2 class = 'columns small-12'>
          <%= link_to 'Media Ranker', root_path %>
          <small>
            Ranking the Best of Everything
          </small>
        </h2>



      <nav class= 'columns small-12'>
        <%= link_to 'View top media', root_path, :class => 'button' %>
        <%= link_to 'View all media', works_path, :class => 'button' %>
        <%= link_to 'Add a new work', new_work_path, :class => 'button' %>
        <%= link_to 'View all users', users_path, :class => 'button' %>



        <% if user_signed_in %>
          <%= link_to 'Logout', logout_path, :class => 'button-right'%>
          <%= link_to 'Logged in as '+ get_user_name, user_path(get_user_id), :class => 'button-right'%>
        <% else %>
          <%= link_to 'Log In', login_path, :class => 'button-right'%>
        <% end %>
      </nav>

    </header>


      <% flash.each do |key, value|%>
        <% if key == 'notice' || key == 'deleted' %>
          <section class='row success'>
            <h3> <%= value %> </h3>
          </section>
        <% elsif key == 'login' %>
          <section class = 'row failure'>
            <h3> <%= value %> </h3>
            <ul>
              <li> username: can't be blank </li>
            </ul>
          </section>
        <% else %>
        <section class = 'row failure'>
          <h3> <%= value %> </h3>
        </section>
        <% end %>
      <% end %>

    <%= yield %>
  </body>
</html>
