<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header">
      <h1 class="orange">Media Ranker</h1>
      <h1 class="pipe">|</h1>
      <h1>Ranking the Best of Everything</h1>

      <nav>
        <div>
          <li class="button"><%= link_to("View Top Media", home_index_path) %></li>
          <li class="button"><%= link_to("View All Media", works_path) %></li>
          <li class="button"><%= link_to "Add New Work", new_work_path %></li>
          <li class="button"><%= link_to("View All Users",users_path) %></li>
        </div>

        <div>
          <%if session[:user_id]%>
            <%@user = User.find(session[:user_id]) %>
              <li class="button"><%="Logged in as #{@user.username}" %></li>
              <li class="button"><%=link_to "Log out", login_path, method: :delete%></li>
          <%else%>
              <li class="button"><%= link_to "Log in", login_path %></li>
          <%end%>
        </div>
      </nav>
    </header>

    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
