<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>
        <%= link_to("Media Ranker", root_path) %>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav>
        <%= link_to("View top media", root_path) %>
        <%= link_to("View all media", works_path) %>
        <%= link_to("Add a new work", new_work_path) %>
        <%= link_to("View all users", users_path) %>
        <!-- <%= link_to("Logged in as " , root_path) %>
        <%= link_to("Log Out", logout_path, method: :post) %> -->
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
