<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header row">
        <h2 class="small-12 columns">
          <%= link_to "Media Ranker", root_path %>
          <small>Ranking the Best of Everything</small>
        </h2>


      <nav class="small-12 columns">
          <li class="button"><%= link_to "View Top Media", root_path %></li>
          <li class="button"><%= link_to "View All Media", works_path %></li>
          <li class="button"><%= link_to "Add a New Work", new_work_path %></li>
          <li class="button"><%= link_to "View All Users", users_path %></li>
          <li class="button"><%= link_to "Login", login_path %></li>
      </nav>
    </header>

 <section class="flash">
   <% flash.each do |name, message| %>
     <div class="<%= name %>"><%= message %></div>
   <% end %>
 </section>

    <%= yield %>
  </body>
</html>
