<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <h2 class="small-12 columns">
        <%= link_to "Media Ranker", root_path%><small>Ranking the Best of Everything</small></h2>
      <nav class="small-12 columns">
        <%= link_to "View top media", root_path, class: "button" %>
        <%= link_to "View all media", works_path, class: "button" %>
        <%= link_to "Add a new work", new_work_path, class: "button" %>
        <%= link_to "View all users", users_path, class: "button" %>
        <div class="float-right">
          <% if session[:logged_in_user] %>
            <p class="button">
              Logged in as: <%= User.find(session[:logged_in_user]).username %>
            </p>
            <%= link_to "Log out", logout_path%>
          <% else %>
          <!-- login_path -->
            <%= link_to "Log in", new_user_path, class: "button"%>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="columns">
      <section class="flash <%= flash[:status] %>">
        <p>
          <%= flash[:message] %>
        </p>
        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong>
                    <%= field %>:
                  </strong>
                  <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>
      <%= yield %>
    </main>
  </body>
</html>
