<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="page-header row">
    <h2 class="small-12 columns"><%= link_to("Media Ranker", root_path) %><small>Ranking the Best of Everything</small>
    </h2>
    <nav>
      <%= link_to("View Top Media", root_path, class: "button") %>
      <%= link_to("View All Media", works_path, class: "button") %>
      <%= link_to("Add New Work", new_work_path, class: "button") %>
      <%= link_to("View All Users", users_path, class: "button") %>
      <div class="float-right">
        <%= link_to("Login", class: "button") %>
      </div>
    </nav>
  </header>
  <main class="row">
    <%= yield %>
  </main>
</body>
</html>
